[2018-08-29 11:42] sandy060583 opened #208 "Service Fabric code package gets duplicated while we deploy them and causing node failure"
Recently since last two days we are facing issue when we deploy service fabric code package - it gets duplicated while we deploy them and causing node failures.

See the error screen for reference. I am not sure how to resolve this issue. we are facing this issue on our DEV/QA Cluster since last 2 days. Not able to understand why it causing service failure.

![node-failure-code-package-duplicate](

[2018-08-30 07:06] VipulM-MSFT commented on #208
Did you enable "Exclusive Process Model" by mistake?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-hosting-model

[2018-08-30 07:10] VipulM-MSFT commented on #206
It should be possible - adding @raunakpandya for follow up.

[2018-08-30 07:17] VipulM-MSFT commented on #201
The deployed code packages are supposed to be immutable - it is not possible to change the entry point after the deployment. The application name is available in the process environment variable and if you are not using the shared code packages, the full path of the executable contains the appId.

[2018-08-30 07:29] raunakpandya commented on #206
Yes. This is definitely possible and infact one of the prime use case for restore. Can you share more details on how are you invoking the restore API, parameters etc? Adding @hrushib

[2018-08-30 08:43] mm-set commented on #206
First, I'm using the GetBackups API to retrieve the latest backups of an application/service:
[code]
From these results, I match the old partition ID and new partition ID with the min or max key from the partition info. Partitioning scheme did not change, of course.

[code]

With this information, I call the Restore API:

[code]

Whereas `1cf8a539-c3c0-43df-9101-d8bccab32de5` is the partition ID o

[2018-08-30 09:01] raunakpandya commented on #206
Thanks for the details. The flow is all correct. Seems like some issue in trying to fetch the backup chain which needs to be restored here. Can you share your cluster log details (cluster resource ID and region, assuming its northeurope resion) over email (raunakp at Microsoft dot com)?

[2018-08-30 09:43] mm-set commented on #206
Unfortunately, I already deleted the cluster. I'm currently in the process of setting up a new one. I will try to reproduce my described problem and send you the details via email once I'm done.

[2018-08-30 10:31] raunakpandya commented on #206
Yes, please do share. We can quickly take a look and unblock you here.

[2018-08-30 11:18] mm-set commented on #206
Setup of the new cluster is now completed and had the same issue again.
I've sent you an email with detail information.

[2018-08-30 12:51] sandy060583 commented on #208
But this issue we are facing recently when we added new application type  - ecommerce into the service fabric cluster. before this application type XYZ.Api was wroking fine with ServicePackageActivationMode="ExclusiveProcess". why since we added new application into cluster it gives this issue? any specific reason behind it?

[2018-08-30 14:57] hrushib commented on #206
@mm-set, please use single path separator instead of double in `BackupLocation` value as depicted below.

[code]

Let me know if this results in successful restore.

[2018-08-30 18:06] alovera commented on #202
As an aside, is there a way to customize the serialization of exceptions?  I'm using the JSON serializer for messages, but anytime an exception is thrown by the actor it fails with a serialization exception:

`System.Runtime.Serialization.SerializationException
  HResult=0x8013150C
  Message=Type 'SoftPro.Exceptions.Web.NotFoundException' in Assembly 'SoftPro.Exceptions, Version=1.1.0.0, Culture=n

[2018-08-31 05:31] anlem12 opened #209 "There is no documentation on Linux local creation of Service Fabric cluster"
There is no documentation on Linux local creation of Service Fabric cluster

[2018-08-31 06:03] mm-set commented on #206
Thanks. That was the problem.
Now the API call was successful. Unfortunately, no data was restored. I saw in SF Explorer that the partition was shortly in quorum loss, then back to healthy.
The backups I have for this partition is 1 full backup (~50MB), followed by 3 incremental backups (each ~8MB). I restored from the last incremental backup. How long should the restore procedure take for 1 parti

[2018-08-31 06:12] VipulM-MSFT commented on #208
The exclusive process always results in additional processes for hosting different replicas. It is possible that total number of partitions you have for the services in this package is higher than the number of nodes. Note that if you use exclusive process, during the upgrade it is possible that more than one partitions are placed on the node and you would end up with more than one package and pro

[2018-08-31 06:17] VipulM-MSFT commented on #198
@abatishchev - please let us know if this solves the issue. If so, feel free to close the issue.

[2018-08-31 06:38] VipulM-MSFT commented on #192
@paulsaxton - sorry for the delayed response. Have you figured this out?

What SDK and runtime are you using?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade#upgrade-default-services

[2018-08-31 06:57] VipulM-MSFT commented on #179
Definitely. @suchiagicha  and @amanbha - can you take a look.

@suchiagicha  and @amanbha - I also thought that we added ability to use actors and remoting without deriving from IService or IActor interface because of the exact same reasons.

[2018-08-31 07:04] VipulM-MSFT commented on #167
@maburlik to comment.

[2018-08-31 09:05] gliljas opened #210 "FabricClient with X509Credentials has stopped working"
Instantiating a FabricClient with X509Credentials now gives me:

System.Fabric.FabricException: 'The security credential type specified is invalid.'
Inner Exception
COMException: Exception from HRESULT: 0x80071BEE

SDK: 6.3.176
X64

[2018-08-31 11:26] PrabhujiMudragalla opened #211 "Publish issue in Local Cluster"
Hi Team,

We created a Service Fabric application which contains following specification:
1. Gateway service
2. Stateful Service to store Reliable collection data

We are able to publish the application in Debug mode, but when we try to publish the services are getting failed.

Thanks Prabhuji

[2018-08-31 12:41] aagup commented on #206
@mm-set The restore is getting blocked as the files (backups) which are downloaded by Backup Restore  Service for restore are being locked by some anti-virus software (mostly defender). Hence the restore request is failing.

The real reason can be seen from EventViewer logs or the logs generated by Service Fabric.

I will request you to kindly retry the request.
OR
Mark the Data folder for Service

[2018-08-31 13:05] mm-set commented on #206
@aagup I couldn't find any logs in event viewer regarding blocked files by anti-virus. I disabled windows defender anyways on the node of the primary replica, but it didn't help.

[2018-08-31 15:56] amanbha commented on #179
Tracking this in the Actors and Services repo: https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/issues/146

@VipulM-MSFT That functionality isn't added.

[2018-08-31 17:30] jvenema opened #212 "Fabric.exe crash"
Hey all,

I'm getting a crash starting up Fabric.exe after a completely clean install of all the services. This causes various other errors (Connect-ServiceFabricCluster : The object is closed, Connect-ServiceFabricCluster : No cluster endpoint is reachable, please check if there is connectivity/firewall/DNS
issue, etc), but I believe the root problem is that Fabric is just not running. Any insigh

[2018-08-31 18:34] abatishchev commented on #198
Let me try to specify both application and service name.

[2018-09-01 16:36] raghav135 commented on #91
Any updates on this? Is there any workaround for working in latest ubuntu?

Currently the issue is "dot net runtime" has working package for ubuntu bionic, and it has moved to libcurl4, and servicefabric (Xenial) is in libcurl3, not able to proceed.

[2018-09-02 01:32] EVMartinez commented on #192
Hello @paulsaxton This can be done at cluster level https://blogs.msdn.microsoft.com/maheshk/2017/05/24/azure-service-fabric-error-to-allow-it-set-enabledefaultservicesupgrade-to-true/ hope this helps

[2018-09-02 22:34] toresenneseth opened #213 "Environment variable Fabric_ServiceName returns "incorrect" value"
Hi,

I'm hosting a service as a Guest Executable, and the environment variable Fabric_ServiceName returns fabric:/[ApplicationName]/[ServiceName] instead of just the service name. According to the docs, Fabric_ServiceName should return just the service name. I guess this is an error in the docs, but can you confirm this?
I'm seeing this on a local cluster running version 6.3.176.9494, SDK version

[2018-09-03 11:59] UdayaBhandaru opened #708 "Can't Start Service Fabric ."
Hi Team,

Not able to start service fabric in the local.

I am not sure how section votes came in fabrichostsettings.

Can you guys help on this.

Tried re-installing and all other trouble shooting issues.

[FabricHostSettings.zip](https://github.com/Azure/service-fabric-issues/files/2345396/FabricHostSettings.zip)

[azure event log.zip](https://github.com/Azure/service-fabric-issues/files/2345391

[2018-09-04 18:05] EVMartinez commented on #213
Hello @toresenneseth did you create your guest executable with ServicePackageActivationMode ExclusiveProcess?

[2018-09-04 18:12] VipulM-MSFT commented on #213
@harahma, @gkhanna79 to take a look.

[2018-09-05 01:12] itodirel opened #214 "how to use the build.sh script?"
I'm trying to build without Docker. My Linux distro is Ubuntu 16.04, with LLVM and Clang 5.0. I ran the sudo ./src/build.sh -d -debug, and I'm getting the following errors:

/home/iontodirel/service-fabric/src/prod/ktl/src/./inc/ktl.h:33:10: fatal error: 'cstddef' file not found

Any ideas?

[2018-09-05 02:40] MyoMinLin opened #215 "Service Fabric Stateless server and client complete sample"
Hi guys,
Azure Service Fabric is totally new for me.
I am still struggling to test the code from following link.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication

I can run default stateless code.
I am trying to implement TCP client and server communication.
But I don't know it's is same project or another project for client.

With Regards,
Lin

[2018-09-05 16:37] toresenneseth commented on #213
Yes, I'm using ExclusiveProcess. Here's my config:
[code]

[2018-09-05 22:33] bpm-ms commented on #214
This isn't exactly supported as we're moving towards a docker-based build because it encapsulates the numerous dependencies and configurations necessary to get the build to work.  However if you are determined to try, you can install all the dependencies you see in the [Dockerfile](https://github.com/Microsoft/service-fabric/blob/master/tools/build/Dockerfile), and then run
`./src/build.sh -d -all

[2018-09-05 23:27] itodirel commented on #214
I don't quite understand why Docker is a requirement, it seems weird to structure the dependencies that way, can't CMake scripts be made to resolve them? And if I use Docker, how does it play with the existing CMakeLists.txt. When using Docker, can the CMake scripts run outside Docker?

[2018-09-06 00:09] bpm-ms commented on #214
Docker in this case is being used as the development environment similar to how you might use a product like Vagrant.  Using docker means that your developer machine only has one package requirement: Docker.   Without docker you would have to install a long list of ubuntu packages.  Many of these packages are third part libraries that we incorporate into our product.  Without docker you would have

[2018-09-06 00:12] itodirel commented on #214
Imagine I want to code inside the service fabric repo, and I want to use an IDE, something like CLion to do it, how can I go about loading the CMake projects given the dependency on Docker? Any recommendations?

[2018-09-06 00:29] bpm-ms commented on #214
Building out the tooling is something we're actively working on.  The product was originally built for windows and so the tooling on linux has been kind of lacking historically.  The docker-based build is one such improvement (whereas before you needed to setup a development machine very precisely in order to get the build to work, and this made the cost of getting setup to build very high).  Hist

[2018-09-06 22:56] jackbond commented on #202
@suchiagicha We're attempting to delete an actor now, so I modified your ActorCustomSerializer as below to demonstrate the problem we're experiencing. The ActorId class doesn't play nicely with the JsonDeserializer. Is there any workaround for this, other than putting custom logic in the serialization provider to handle ActorId? Thanks.

[code]

[2018-09-06 23:09] amanbha commented on #202
@jackbond Looks like you are using Newtonsoft, so you will have to rely on custom converter for it which handles ActorId.

[2018-09-07 00:12] jackbond commented on #202
@amanbha I was afraid you were going to post something like that. I'm beginning to understand why you guys didn't provide a complete sample of a custom provider. At this point I'm left to wonder, what the next's landmine I'm going to merrily stroll over? Can I really be the first person to implement a JsonSerializationProvider for an ActorService and have the outlandish requirement of deleting act

[2018-09-07 02:33] amanbha commented on #202
@jackbond  Given the fact that remoting layer allows you to bring in any serializer, the json package would be nice for convenience, so it would be an enhancement feature request and the team need to triage it against other work items which we have.
Actor and Service remoting code is open sourced at https://github.com/Microsoft/service-fabric-services-and-actors-dotnet . You can create a feature r

[2018-09-11 05:42] VipulM-MSFT commented on #215
Please take a look at the getting started sample https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-getting-started/

[2018-09-11 05:43] #215 closed

[2018-09-11 05:44] VipulM-MSFT commented on #213
Can you include the link to the doc?

[2018-09-11 05:46] VipulM-MSFT commented on #199
@raunakpandya and @hrushib - can you please check?

[2018-09-11 05:46] VipulM-MSFT commented on #198
@abatishchev - did this resolve the issue? If so, please feel free to close it.

[2018-09-11 05:48] VipulM-MSFT commented on #184
The duplicate issue is resolved, closing this issue.

[2018-09-11 05:48] #184 closed

[2018-09-11 06:35] abatishchev commented on #198
Oh, sorry, thanks!

[2018-09-11 06:35] #198 closed

[2018-09-11 07:59] writeameer opened #216 "Joining a Linux VM as a node to an existing cluster"
Hello Everyone,

I'm new to Service Fabric and been experimenting with the Linux version - and yes I understand its unsupported but keen to learn.

Been using the docs here to spin up a cluster and works great:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux#set-up-a-local-cluster

On startup it spins up 5 "nodes" in the cluster altho they're all just runnin

[2018-09-11 08:20] raviteja-kurra opened #698 "Service Fabric installation getting timed out"
Hi,
I am getting the below error while installing the Service fabric.

PS D:\MTS\Utils\SF\SFInstaller> .\TestConfiguration.ps1 -ClusterConfigFilePath .\ClusterConfig.Unsecure.DevCluster.json
-FabricRuntimePackagePath ..\MicrosoftAzureServiceFabric.6.0.219.9494.cab
Trace folder already exists. Traces will be written to existing trace folder: D:\MTS\Utils\SF\SFInstaller\DeploymentTrac
es
Running Bes

[2018-09-11 14:35] hrushib commented on #199
@EVMartinez sorry for delayed response. Had a look at the logs and it looks like BackupRestore service is failing to start listening on `http://+:20575/` with Access denied error.

[code]

In case you are still facing this issue, then
1. Attach cluster manifest file you are using to create/upgrade this cluster.
2. Run `netstat -a -b` command from admin command prompt to see if there is any other s

[2018-09-11 15:19] toresenneseth commented on #213
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-environment-variables-reference

[2018-09-11 15:39] EVMartinez commented on #199
Hello @hrushib thank you for taking the time to review this issue. Yes, we've reviewed if another process was using the port, but no, no other process was using that port. After some troubleshooting we decided to re-create the cluster, I'm going to close this issue.

[2018-09-11 15:39] #199 closed

[2018-09-11 18:10] suhuruli commented on #211
Can you share the error message that it is failing with?

[2018-09-12 18:52] bigdnf opened #217 "CloseAsync not invoke on app update?"
CloseAsync of ICommunicationListener is not invoked during application update cousing rollback. Is this beheviour by design or maybe this is a bug?

[2018-09-13 01:46] chriskuech opened #218 "Distribute PowerShell module using PowerShell Gallery"
It's difficult to integrate the PowerShell module into automation systems because the module is not distributed normally.  Please distribute the module using the natively supported solution: PowerShell Gallery.

[2018-09-14 10:41] hrushib commented on #206
@mm-set, we have identified root cause of the issue. There is bug in the backup copier path which leads to premature download operation completion. Fix for this issue will be released soon. Thanks for your help and patience.

[2018-09-18 19:27] softarch74 opened #219 "Changing TimeZone of Container running under Service Fabric"
We have a number of SF services that utilize the new windows container orchestration abilities of SF. We have a need to set the timezone of the container instance at service deployment time (not dockerfile build time).

Does service fabric have a way for me to control the timezone of the container image that SF starts up? If I could leverage a SF application parameter to pass down to the service (

[2018-09-18 22:48] grzuber commented on #213
@toresenneseth yes I can confirm that it does return the full service name uri (fabric:/[ApplicationName]/[ServiceName], like you said). Thanks for making this issue! I'm working on changing the documentation to reflect the correct behavior.

[2018-09-18 22:59] harahma commented on #213
We should fix the documentation. Full service name is fine as this is what they will see in the SFX.

Sent from my phone

________________________________
From: Graham Zuber <notifications@github.com>
Sent: Tuesday, September 18, 2018 3:49 PM
To: Microsoft/service-fabric
Cc: Hasibur Rahman; Assign
Subject: Re: [Microsoft/service-fabric] Environment variable Fabric_ServiceName returns "incorrect" v

[2018-09-19 07:39] gofrogi opened #220 "missing windows component on sf cluster"
i developed a .net service with c++ native components, those are using gulp32.dll, opengl32.dll and msvfw32.dll. After deployment on SF with virtual machine image "WindowsServerSemiAnnual Datacenter-Cor-1709" the service doesn't run because of missing opengll dlls and msftw32.dll. My question is how to proceed in this case and howto add the missing components?

[2018-09-19 15:41] asifshiraz opened #221 "Service Fabric Upgrade Issue"
We recently updated the runtime on our service fabric cluster to the latest version. As part of that we also updated the nuget packages on our application.

We have a service to service remoting call setup inside the application which is no longer working.

I have followed all the steps described in this article here:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-se

[2018-09-20 16:49] daviddob opened #222 "Incorrect PATH passed to SF apps"
I raised this issue in Azure/service-fabric-issues#1246 after finding a thread there while debugging java SF applications with openjdk installed in a custom path. As described in the other thread, the path given to entrypoint.sh `/data/service-fabric/sfcluster/data/_Node_4/Fabric/Fabric.Code;/var/vcap/packages/openjdk/bin:/more/stuff/here` - has a `;` in the path that concatenates that which is pa

[2018-09-20 16:57] daviddob opened #223 "Temp directory paths are not correctly set"
When the temp directories are being set `TMPDIR` and `TMP_DIR` are not being set. https://github.com/Microsoft/service-fabric/blob/9a8ddc7a638577dbcc8f5b95132e54c3434f958e/src/prod/src/Hosting2/ApplicationHostProxy.cpp#L422-L424

According to the dotnet issue here: dotnet/corefx#13710, the Path.GetTempPath() reads from `TMPDIR` - so calls made in several of the QuickStart examples will not properl

[2018-09-20 20:01] maburlik commented on #222
@deepakjangid-MSFT @BharatNarasimman Can you take a look?

[2018-09-24 14:07] #208 closed

[2018-09-25 01:37] chriskuech opened #224 "Get-ServiceFabricClusterConnection does not respect ErrorAction"
`Get-ServiceFabricClusterConnection -ErrorAction SilentlyContinue` throws a terminating error, despite `ErrorAction` being specified.

[code]

[2018-09-25 07:29] Adebeer opened #225 "X509 ClientCertificateCommonNames Not Working"
Hi

I'm trying to create a new on-premise cluster secured via X509

It works just fine when using  ClientCertificateThumbprints, but as soon as I try to use ClientCertificateCommonNames, the **fun** starts...

I seem to have same issue as described here: [devportal](http://answers.flyppdevportal.com/MVC/Post/Thread/a456937f-1eb9-42cb-8254-64627c60ae17?category=azureservicefabric)

Specifically, as

[2018-09-25 17:18] vegar opened #226 "Config not updating in Refresh Application debug mode"
I have my config values inside `Application\ApplicationParameters\Local.1Node.xml`
I looks like those ends up in `MyServicePkg.{guid}.Package.Current.xml` when the application is deployed.

My problem is that it's hard to get these files updated. After changing the values inside `Local.1Node.xml` I can recompile, start and stop the debug session, but the files remains the same.

According to the [

[2018-09-26 13:41] julioas09 opened #695 "Sudden, short disconnection of standalone nodes after 6.3.176 update"
We’ve updated from 6.2.274 to 6.3.176 on a WS2016 standalone cluster (running on IaaS on Azure) and we’re experiencing a strange behavior:

Randomly, each ~25min a node shows as down for 5-10 seconds (the node is perfectly running though), which creates instability in the cluster.
I’ve only seen it happening to backend (primary) nodes:

![errr](https://user-images.githubusercontent.com/3543529/460

[2018-09-26 14:17] VipulM-MSFT commented on #226
Are you overriding the configuration settings in the application manifest through parameters? If so, when you re-deploy, the configuration settings would be updated. You should use the CodePackageActivationContext methods to read the settings.

[2018-09-26 14:55] VipulM-MSFT commented on #212
@jvenema - do you still have this issue? Have you tried resetting your local cluster?

[2018-09-26 15:31] vegar commented on #226
So to conclude, this is expected behavior: parametervalues from the application manifest will not be updated on rebuild or starting a debug session when the application debug mode is set to Refresh Application.

I'm already using the `CodePackageActivationContext` to read the settings inside a custom configuration provider to link the settings into the .net core configuration system. Would be nice

[2018-09-27 11:49] SanZhiYuan opened #227 "Is there a plan of python/go/c++ sdk to go to open source?"
wishing programming with these languages.

[2018-09-29 04:34] VipulM-MSFT commented on #222
Thank you for reporting, yes this is a bug. It is unfortunate that we missed this. We will try to get this fix as soon as possible.

[2018-10-01 13:33] bruno-alencar opened #228 "Service Fabric Logs blocking new services or update"
Hey,

My production service fabric environment has a log issue that blocking deploy the new services or update them.

Every week I have to remove all SF generated logs.

I tried some configurations but they haven't solved definitely.

Someone can help me?

[2018-10-01 17:44] justinoverton opened #229 "On Premise Add Node gMSA Issues"
Can someone please document all of the security and permissions requirements for properly running fabric secured with gMSA?

The following is what I've had to do so far to just add a node, it is long and complicated. I have a on premise cluster secured by gMSA setup and wanted to add a new node.

It failed with no error message on the powershell client, but after digging a lot I found the followin

[2018-10-03 00:55] jackbond opened #230 "Compatibility with Microsoft.Azure.Services.AppAuthentication"
As Virtual Machine Scale Sets now support Managed Identities, we're trying to switch over to using the AppAuthentication, i.e. Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProvider. When we deploy our app to a scale set in azure, it works great. However, we get exceptions when we try to debug locally. According to this page, https://docs.microsoft.com/en-us/azure/key-vault/service-t

[2018-10-03 07:02] JanMcke opened #693 "Service Fabric Configuration Upgrade"
In order to test certain scenarios, I am trying to remove a node from our lab Service Fabric cluster using the following article: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-windows-server-add-remove-nodes

I start from [Config0.txt](https://github.com/Azure/service-fabric-issues/files/2440920/Config0.txt)
add the NodesToBeRemoved section, delete the node in the No

[2018-10-03 07:52] PrabhujiMudragalla opened #231 "Performance Impact if multiple collections used in Same partition"
Hi Team,

We are having multiple Collections in a partition, where one collection is maintaining the History information and other collection is used for application querying. Will the history Collection impact the performance of other collection, as our History collection is having so many records?

Thanks Prabhuji.

[2018-10-03 14:43] ojasp opened #232 "Automation Script on Resource Group throws error"
Once I setup the cluster with some additional resources(Network security Group, Application Insights etc), I would like to Download automation script so that I can redeploy it in case of a cluster failure. Currently When you click on Automation script, it gives an error: "2 resource types cannot be exported yet and are not included in the template. See error details." When I click on the error, it

[2018-10-04 01:32] grzuber commented on #213
The documentation should now be fixed -- @samedder can you close this issue as resolved?

[2018-10-04 14:37] EVMartinez commented on #174
Seems that the link is incorrect check this one please https://github.com/Microsoft/service-fabric/issues/204

[2018-10-05 14:23] Ponant opened #233 "ASP.NET Core Identity configuration string is null"
Creating a service fabric with a statless ASP.NET Core 2.1 with Identity (in-store users) does not run as the configuration string is in appsetting.json of the stateless app
`  var connStr = Configuration.GetConnectionString("DefaultConnection");
            services.AddDbContext<ApplicationDbContext>(options =>
                options.UseSqlServer(
                    connStr));`
connStr is null.

[2018-10-06 14:37] StefH opened #234 "When passing commands to a container, the commands are surrounded with single quotes?"
When using this configuration in the `ServiceManifest.xml` file:

[code]

(For the complete ServiceManifest.xm file, see https://gist.github.com/StefH/a3b01cba4496cace230d955ab2802e8a)

The commands are passed to the container as:
[code]

Note the extra single quotes `'` around the command line parameters.

Is this a bug or by design ?

[2018-10-08 17:37] Deborah-Digges commented on #45
IS someone working on this already? If not I can help out :)

[2018-10-08 17:37] Deborah-Digges commented on #40
I can help out with this

[2018-10-08 22:29] #213 closed

[2018-10-09 07:29] VipulM-MSFT commented on #229
What is the version of Service Fabric? @gkhanna79 to follow up.

[2018-10-09 07:30] VipulM-MSFT commented on #227
Runtime APIs for building services with reliable collections and reliable actors or control plane APIs (client APIs)?

[2018-10-09 13:51] SanZhiYuan commented on #227
@VipulM-MSFT Runtime APIs

[2018-10-09 15:30] Angelicvorian commented on #229
@justinoverton  I've had a similar issue and it was fixed by ensuring the nodename and nodetype were not identical.
I've used FQDN as the nodename and IPaddress as the IPAddressorFQDN values and my gMSA cluster now allows nodes to add successfully.
I used the method as discussed in the MS docs, just using a ClusterConfiguation Upgrade to add the node and it works now.
gMSA account is installed on

[2018-10-09 17:29] VipulM-MSFT commented on #227
Right now we are not offering support for the public SDK for these languages.

The C# SDK is a wrapper on top of the internal native SDK. Feel free to start contribution project for the other languages. You can see the examples here:

https://github.com/Microsoft/service-fabric/tree/master/src/prod/src/prebuilt/sdk
https://github.com/Microsoft/service-fabric/tree/master/src/prod/src/managed/Api/sr

[2018-10-09 17:31] VipulM-MSFT commented on #228
@dkkapur  - can you comment?

[2018-10-09 17:32] VipulM-MSFT commented on #212
@jvenema - if this is resolved for you, please feel free to close the issue.

[2018-10-09 17:37] VipulM-MSFT commented on #217
@bigdnf - is this is a stateful service? For the stateful service "Change Role" is called first and then close on the communication listener for the primary. If the change role is blocked, the UD will timeout and upgrade will rollback. During the upgrade you can use Get-ServiceFabricApplicationUpgrade (https://docs.microsoft.com/en-us/powershell/module/servicefabric/get-servicefabricapplicationupg

[2018-10-09 17:41] justinoverton commented on #229
@Angelicvorian Thanks for that input. I don't think this is the issue as the nodename and nodetype are not identical.

The version number is: 6.0.232.9494

[2018-10-10 04:14] preethasubbarayalu commented on #231
There is no disadvantage with one huge dictionary, but it depends on your access patterns and your resource utilization. Are you running tight on your resources - memory, CPU, network and disk queue length?  I recommend tracking the resources above for you environment and you should be okay. Along with the resources, I would also suggest tracking GC counters. If you have any particular use case th

[2018-10-10 14:10] PrabhujiMudragalla commented on #231
Thanks for the update Preetha, our history tables are not been used frequently.
And we are having plan to archive tables periodically.

[2018-10-10 18:16] jackbond opened #235 "Actor lifetime management"
We're implementing a solution where there are going to be hundreds of millions of actors and we're wondering what the best approach for handling "orphaned" actors. By orphaned, I'm referring to a situation where an actor may have been created to handle a customer transaction, but the customer simply walked away. Over time enough of these actors would build up and be a waste of resources. One appro

[2018-10-10 23:00] dkkapur commented on #228
@bruno-alencar could you give me a little more info on the issue that you are seeing? Also - if this a cluster running on Azure or is this a Standalone cluster? It may be that the logs are eating up too much space on your machines and this is causing the cluster to go into Warning.

[2018-10-11 11:56] alexeyzimarev commented on #91
A long time passed since April...

[2018-10-11 16:57] mani-ramaswamy commented on #91
This is being worked on - updating the dependencies as well as adequate testing. We're focusing on the next release announced at Ignite which is going out end of this month (6.4) release, and post then the focus will shift to this.  I understand the ask for moving to the latest, but is there any blocking issue on 16.04?

[2018-10-11 18:41] alexeyzimarev commented on #91
My development machine is Pop!OS and it is the Bionic Beaver. For now, I can only use the container.

[2018-10-12 12:44] raunakpandya commented on #209
Are you referring to standalone Linux cluster? If so that is currently not available. You can create dev cluster - https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux

[2018-10-13 15:34] pksorensen commented on #166
I am seeing it too, whats the impact? does it matter?

[2018-10-16 01:04] dkkapur commented on #149
@undecided2013 if you are still pursuing this, can you send me an email at deep dot kapur at microsoft dot com? Thanks!

[2018-10-16 07:34] Mikerr1111 opened #237 "Snap package support (Feature/Enhancement)"
I was thinking the setup and install process for Ubuntu and other Linux distros could be improved by having a [Snap package](https://snapcraft.io/) version.  If it's not a priority would you mind if I implemented the snap?

[Creating a Snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Create snaps from your preferred programming language.](https://docs.snapcraft.io/build-snap

[2018-10-16 16:17] fccmks opened #238 "How to collect SF reverse proxy logs on-prem"
Hello team!
I have 3-node on-prem cluster. Now i want to collect and analyze reverse proxy logs (and other system service fabric logs). I google and found [this article](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverse-proxy-diagnostics) and it says

But that link describes how to enable, configure and collect reverse proxy logs for clusters in Azure. And I don't unders

[2018-10-17 02:31] Adebeer opened #239 "ServicePlacementPolicy not configurable via ApplicationManifest Parameters"
As per [Placement Constraints blog](https://brentdacodemonkey.wordpress.com/2016/09/11/placement-constraints-with-service-fabric/) you can quite easily configure Placement constraints via Application Manifest and parameters

Unfortunately, this doesn't seem to work for ServicePlacementPolicies - I tried the below but the [ServicePlacement_Domain] doesn't get substituted (as observed in SF Explorer

[2018-10-20 15:11] aL3891 commented on #235
we face a similar situation, could you elaborate on what you mean by prefix based enumeration?

[2018-10-22 15:53] suhuruli commented on #223
@BharatNarasimman @gkhanna79  any update on this?

[2018-10-23 11:04] AlexisColes opened #240 "Can't seem to update Service Fabric settings"
Get-ItemPropertyValue 'HKLM:\SOFTWARE\Microsoft\Service Fabric\' -Name FabricVersion
6.3.187.9494

I have been trying to update our cluster configuration by using

`Get-ServiceFabricClusterConfiguration | Out-File c:\temp\sfconfig.json`

Adding the new setting to this file

`{
  "Properties": {
    ....
    "FabricSettings": [
                ....
		{
			"name": "MetricBalancingThresholds",
			"pa

[2018-10-24 05:15] Mikerr1111 commented on #237
I'll close this issue and make a pull request.

[2018-10-24 05:15] #237 closed

[2018-10-24 05:32] VipulM-MSFT commented on #212
Closing the issue - if you still have the issue, please feel free to reopen with repro / additional information for us to investigate.

[2018-10-24 05:32] #212 closed

[2018-10-24 05:33] VipulM-MSFT commented on #175
Closing the issue based on the answers above.

[2018-10-24 05:33] #175 closed

[2018-10-24 15:36] gkhanna79 commented on #222
@daviddob the issue has been fixed for our next release (6.4). We will also look into the feasibility of getting the fix in for the next CU of 6.3.

[2018-10-24 16:12] daviddob commented on #222
Wonderful, thanks.

[2018-10-25 05:32] sagar9004075562 commented on #91
@mani-ramaswamy can you please provide us with a proper date at which it would be completed ? Some is project are due because of these

[2018-10-25 22:33] CNunezEng commented on #24
I would like to give this one a try if its open

[2018-10-25 22:43] bpm-ms commented on #24
Hi! I wrote this issue a while ago.  Recently I've been talking about potentially deprecating and replacing this method of handling 3rd party dependencies, which would do away with this issue.  I've been thinking about investigating how to move our handling of 3rd party dependencies natively into CMake (so instead of having a bunch of *.sh scripts that handle this, have *.cmake scripts that get ru

[2018-10-25 22:57] CNunezEng commented on #24
That would be great

[2018-10-26 16:35] rspandi1985 opened #678 "Unable to upgrade service fabric"
I am unable to upgrade service fabric. When i click on cluster details, its  showing me code version as 0.0.0.0. instead of an actual version. Only when i click on System I see version 6.2.262.9494 is installed. so when i run Get-ServiceFabricRegisteredClusterCodeVersion command i get nothing. Then i run  Start-ServiceFabricClusterUpgrade -Code -CodePackageVersion 6.3.162.9494 -Monitored -FailureA

[2018-10-29 03:55] gkhanna79 commented on #229
@justinoverton I presume you have already tried guidelines at https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-windows-security and thus, ran into the issues above?

[2018-10-29 04:10] gkhanna79 commented on #223
@daviddob The envvars being setup above are already being set to the application specific temp folders. That said, I think your point is to include TMPDIR to be set as well (on Linux) which we will look into making.

However, I don't see TMP_DIR being referred to the .NET Core issue you referenced.

[2018-10-29 04:11] gkhanna79 commented on #223
@grzuber Please look into making this fix.

[2018-10-29 17:09] daviddob commented on #223
@gkhanna79 That is correct, on linux TMPDIR needs to be set. TMP_DIR is also used in some cases depending on the flavor (but less widely when compared to TMPDIR)

[2018-10-29 17:16] gkhanna79 commented on #223
Thanks @daviddob - we will look into this.

[2018-10-30 16:44] gkhanna79 commented on #234
@StefH Did you get the output above from "docker inspect"? If not, where did you get it from?

[2018-10-30 16:54] gkhanna79 commented on #240
@AlexisColes Was the certificateInformation section present in the original manifest used to seed the cluster? Can you please share it as well (from the manifest you are trying to use for upgrade)?

[2018-10-30 17:42] StefH commented on #234
I used `docker ps -a --no-trunc`:

[code]

[2018-10-30 18:13] masnider opened #246 "Ensure appropriate testing for RemoveStateAsync codepath in ReliableConcurrentQueue.cs"
Filed as followup to https://github.com/Microsoft/service-fabric/pull/245

[2018-10-30 18:22] masnider opened #247 "In ReliableConcurrentQueue->Enqueue/DequeueAsync ensure that read and write status is correctly checked for blocking queue model"
Followup to https://github.com/Microsoft/service-fabric/pull/245

[2018-10-30 18:25] masnider opened #248 "[ReliableConcurrentQueue] Remove transaction state polling workaround for internal transaction abort"
Filed as followup for https://github.com/Microsoft/service-fabric/pull/245

[2018-10-31 07:19] gkhanna79 commented on #222
@daviddob We have fixed this for next CU of 6.3 as well. Let me know if this issue can be closed.

[2018-10-31 18:09] mani-ramaswamy commented on #91
I apologize for the inconvenience, but I don't have an exact date to share. We're targeting H1 CY19 to ship this, but I realize that's a wide time frame. I can loop back with a more narrower time frame in a month or so.

[2018-11-02 19:00] rasmus-s opened #250 "Change class name or namespace for a type used in Reliable Collection state crash application"
Normal with data contracts you can change the class name and/or the namespace of the class as long you have the original Name and Namespace in the DataContract attribute. But this its not working when its used in Reliable Collection state.

I have this class (Class1) that it used in a Reliable Dictionary (deployed and Num get updated in the RunAsync every sec), and I want to change the name from C

[2018-11-02 19:05] rasmus-s commented on #250
Move this issue to the service fabric issue github repo: https://github.com/Azure/service-fabric-issues/issues/1344

[2018-11-02 19:05] #250 closed

[2018-11-02 19:41] brianstringfellow opened #675 "Cannot Install Because PowerShell Repeatedly Stops Working"
Followed the installation steps and ensured prerequisites are in place. Run the PowerShell command 'Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Force -Scope CurrentUser'. The old SF SDK and cluster have been uninstalled.

Used the Core SDK WebPI link. Always fails.

Unable to get Powershell ExecutionPolicy. ExitCode: -1073741819

![image](https://user-images.githubusercontent.com/22823524/4

[2018-11-04 15:02] alexmarshall132 opened #251 "Method bool FabricTransportListenerSettings.TryLoadFrom(string, out FabricTransportListenerSettings, string) documentation is unclear about behavior"
The documentation listed here:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.remoting.fabrictransport.fabrictransportremotingsettings.tryloadfrom?view=azure-dotnet

... is unclear about the precise behavior of the method, i.e. whether it will always load the default values from the Settings.xml files or whether it is supposed to resolve any overridden values provided

[2018-11-05 09:45] FedericoBinda opened #252 "Cannot connect to app via reverse proxy"
Hi
I have a guest exe that runs on an Azure Service Fabric cluster (1 node only, for testing). I have enabled reverse proxy at the cluster creation, and I have added a rule for port 19081 to the load balancer. I also have a rule for port 3000, which is the endpoint port of my service. If I connect to the node where the app is running using Remote Desktop I can send a request via http://localhost:3

[2018-11-05 16:15] fccmks commented on #238
up

[2018-11-07 18:59] garrmark commented on #209
@raunakpandya can you clarify what currently not available means?  Does that mean that's it's undocumented but will work if you can figure out the right configuration?  Or do you mean that nobody has been able to run a standalone linux cluster, that's seems unlikely to me.

[2018-11-07 19:05] garrmark commented on #149
Any updates on the status of this, I have a linux standalone dev cluster running and would love to get a 3 node standalone cluster running, would it work now if i new the correct manifest settings?

[2018-11-08 04:36] #209 closed

[2018-11-08 10:11] originalnoe-nazvanie commented on #229
@justinoverton we have a checklist that you can easily convert to script
1) you should install gMSA account on your new node
`Add-WindowsFeature RSAT-AD-PowerShell
Add-LocalGroupMember -Group "Administrators" -Member "domain\gmsaSF$", "domain\SFadmins"
Install-ADServiceAccount gmsasf`

2) if your service fabric node is virtual machine and you want to use containers you should set some properties f

[2018-11-08 10:25] LeonidLapshin opened #253 "Cannot upgrade container application if change InstanceCount in application manifest"
If I want to upgrade service fabric container application and change only InstanceCount (number of containers) in applicationmanifest.xml I get an error.
If I scale service in explorer it goes well
If I delete an application and redeploy it it goes well

What I do wrong?

[2018-11-08 16:42] justinoverton commented on #229
@originalnoe-nazvanie The next time I add a node I will try this checklist.

I ended up adding the NetFwTypeLib library to a directory accessible to the service fabric process. The permissions issues seemed to be due to the node being added by the service fabric service (therefore the user adding the node was the user the upgrade service was running as).

I'm not sure that the above checklist woul

[2018-11-12 10:16] raunakpandya commented on #209
@garrmark - What I meant was we currently don't support Linux Standalone SF cluster. However this is there in our roadmap.

[2018-11-16 09:09] Ponant opened #254 "Template with Stateless ASP:NET Core is not usable"
The Service Fabric VS template when using a Stateless ASP.NET Core with an Identity database brings many unsolved problems, such as configuring connection strings to adding migrations with EF Core , see

https://github.com/aspnet/EntityFrameworkCore/issues/13969 .

This template should be removed until it is solved and possibly with some good docs because it costs time.
The docs spend a lot of tim

[2018-11-17 16:21] fleed opened #255 "Local cluster not starting"
My development local cluster doesn't start properly after the startup of the machine.

I must reset it and add again all applications, which is very annoying.

How could I fix it / reinstall the local cluster?

I'm using version `6.3.187.9494`

[2018-11-21 22:49] masnider commented on #36
Closing this issue as a VKP was built for Service Fabric Mesh, where it matches the correct activation pattern. Mesh is the correct environment to target the VK pattern enables scaling from a server-full to a server-less environment (similar to AKS->ACI). A provider from Kubernetes to Service Fabric proper wouldn't be the same common virtual kubelet pattern.  https://github.com/virtual-kubelet/vir

[2018-11-21 22:49] #36 closed

[2018-11-21 22:57] masnider commented on #83
@lugolven Hi there! Config packages are the normal way we'd expect this to be accomplished. It would be great if you could give it a try and let us know if you have any issues. We'll close this issue for now. If you do try config packages and have any problems feel free to reopen this or to ask a followup question as another issue.

[2018-11-21 22:57] #83 closed

[2018-11-21 23:02] amanbha commented on #82
@Damon227 Actor services is partitioned and can have one or emore partitions, partitions have one or more replicas. The number of replicas that can be put on a node depends on cpu, memory, disk of the machine.

[2018-11-21 23:45] masnider commented on #101
There is no single core subsystem. That page references the "core subsystems" - a list of the major logical groups of functionality in SF. Each part is made up of multiple components and different services. The Subsystem view of Service Fabric is mainly for organizing a view of Service Fabric's functionality and doesn't represent physical, separate entities that run in one place or another. Some o

[2018-11-21 23:45] #101 closed

[2018-11-21 23:56] masnider commented on #93
@jackbond just in case this wasn't clear - in the portal you're configuring the cluster. The settings you would put there are cluster level configuration and are used to configure things not first-classed in the portal. So for example you can configure node types and capacities in the cluster setup in the portal, but there are many other settings that you can't (all are listed [here](https://docs.

[2018-11-21 23:56] #93 closed

[2018-11-22 00:48] masnider commented on #130
Depending on how your docker container is actually set up regarding networking and communication, the most common issue that causes this is a port conflict, where both container instances are trying to claim the same host port. @vany0114 did you ever get this sorted out?

[2018-11-22 19:57] JosePedroMarques commented on #240
Hey.

I am having the exact same issue.

Get-ItemPropertyValue 'HKLM:\SOFTWARE\Microsoft\Service Fabric' -Name FabricVersion
6.3.187.9494

Running the test configuration script yields no results

 TestConfiguration.ps1 .\clusterConfig.json  -OldClusterConfigFilePath .\clusterConfigOld.json

Trace folder already exists. Traces will be written to existing trace folder: C:\Sf-Services\Scripts\Deploym

[2018-11-22 21:57] suhuruli commented on #221
@amanbha @suchiagicha

[2018-11-23 10:15] guibirow commented on #254
Why don't you create the website using other templates and add service fabric dependencies later?
You don't need to tie them.

I honestly think the template should only demo how to host the app in SF like it does.

[2018-11-23 10:17] guibirow commented on #253
This is likely because you are using default services, take a look on these links:

https://stackoverflow.com/questions/51798976/default-service-descriptions-can-not-be-modified-as-part-of-upgrade-set-enablede

https://blogs.msdn.microsoft.com/maheshk/2017/05/24/azure-service-fabric-error-to-allow-it-set-enabledefaultservicesupgrade-to-true/

[2018-11-23 16:06] guibirow opened #257 "Processes keep running after service is deleted"
I have noticed an odd behavior with service fabric services and this issue is not new, I have seen this before and couldn't understand why, today I found what looks like the reason.

A while ago, I had a few services that used to get messages from a queue, and process them, each process would handle many messages in parallel. One day we had an issue with one of the dependencies of this service and

[2018-11-24 17:43] JEJ0 commented on #235
This should be simple, and should just be a use of timers.   That it isn't is a deficiency, IMO.

Actors, in my experience, end up being lightweight addressable state machines encapsulating some logical state.  The transition based on incoming events, and they post outgoing unreliable messages (whether the channel uses some 'reliable' messaging system or not).  And those incoming events are typica

[2018-11-26 02:46] tastyeggs commented on #203
Any updates on this? I feel like we're so close to getting this working *truly everywhere*, yet has been deprioritized for well over a year after the initial "going SF is supported on Linux" announcement.

Is the Service Fabric team serious about having SF truly run everywhere? Or is the plan simply to focus on Azure and Windows Server? Either way, we would greatly appreciate if you can make your

[2018-11-26 16:07] guibirow commented on #238
The WadCfg and EtwProviders are configuration used by [EventFlow](https://github.com/Azure/diagnostics-eventflow) to collect these ETW events

You should be able to do the same with EventFlow and a sent the events to application insights using a AI Sink already available.

[2018-11-26 17:02] chenxumsft commented on #102
You could use “journalctl -u servicefabric” to check the status, also please make sure /home/sfuser is on fast disk like SSD.

[2018-11-26 17:14] suhuruli commented on #203
Hi @tastyeggs and @anlem12 ,

Service Fabric Ubuntu clusters on-premise can be deployed on-premise (VMWare) through the work we recently did with Bosh: https://github.com/starkandwayne/azure-service-fabric-boshrelease. This is a complete open source method to easily deploy and manage Service Fabric Linux clusters on-premise. Look for the blog posts around this early December :)

[2018-11-26 17:15] suhuruli commented on #203
@Pothulapati , thought you would also be interested in the above

[2018-11-27 14:21] originalnoe-nazvanie commented on #253
it works, thank you!

[2018-11-29 10:40] joaocpribeiro opened #259 "Dictionary in ReliableDictionary with repeated key"
I am using a reliable dictionary which value is a generic dictionary. Somehow a duplicated key was saved in the generic dictionary. How was that possible?
I am not able to reproduce it locally with parallel calls to the method that changes the reliable dictionary.
My primary replica is current in error: `Reconfiguration is stuck. Waiting for response from the local replica`.
My secondary replicas

[2018-12-03 13:26] Shman4ik opened #260 "Event Store doens't work on standalone cluster"
I updated local cluster to 6.4.617.9590
add  on config
"addOnFeatures": [ "EventStoreService"  ],
and event store service doesn't work.
I see 2 Error in event Logs

Faulting application name: EventStore.Service.exe, version: 6.4.617.9590, time stamp: 0x5bf54461
Faulting module name: mscorlib.ni.dll, version: 4.7.3062.0, time stamp: 0x5ab95381
Exception code: 0x80131623
Fault offset: 0x000000000054

[2018-12-03 18:10] suhuruli commented on #260
@srrengar

[2018-12-03 18:12] srrengar commented on #260
@ibabou can you take a look at this?

[2018-12-03 19:21] ibabou commented on #260
Hi Shman4ik,

The exception is happening as EventStore is trying to locate the tables storage configuration in the manifest, this is not needed if it is just a dev local setup.

Can you please change the following in the manifest:

  <Infrastructure>
    <WindowsServer>
      <NodeList>

to

  <Infrastructure>
    <WindowsServer IsScaleMin="true">
      <NodeList>

In SingleBox setup, if multiple

[2018-12-04 08:40] Shman4ik commented on #260
Hi @ibabou,
I have a problem with standalone cluster, not with dev cluster on my machine.
This cluster hosted on 5 virtual machine.
I haven't tried to use EventStore on dev cluster yet.

[2018-12-04 12:09] mfmadsen commented on #259
I'm not sure it's the cause of the issue, but in general you should not mutate the state you read from reliable collections. In this case you should use a ImmutableDictionary<> instead of the normal mutable Dictionary<>. If you do mutate the state read from reliable collections you risk messing up the internal in-memory cache of state data when transactions are aborted, not completed etc.

[2018-12-05 08:58] FedericoBinda commented on #252
I solved the issue. It turns out I had to set the correct url in the app code, similarly to what is done in the C# and java codes [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-connect-and-communicate-with-services#service-fabric-in-azure)

[2018-12-05 08:58] #252 closed

[2018-12-05 12:35] VipulM-MSFT commented on #257
@guibirow - The replica lifecycle and process lifecycle are different. When you call delete service, the replicas associated with the services are closed and removed from the process. Once a last replica from the process is removed, the process is closed after a configurable grace interval. If during the grace interval a new replica is placed in the process because of load balancing, failover or c

[2018-12-05 12:59] joaocpribeiro commented on #259
@mfmadsen Thanks for the reply.
Probably it would work, but I would lose data, because service fabric was accepting parallel transactions writing to the same reliable dictionary. So, only the error would disappear, the wrong behavior could remain.
Anyway, I cannot test again in the same cluster, because the failing replicas were generating memory issues and the other applications were stopping wor

[2018-12-05 13:23] guibirow commented on #257
Thanks @VipulM-MSFT, it makes things clear now.

I don't remember exactly, but If I am not wrong, when we had the process consuming messages from the queue, I think we did create ThreadPool threads and left them running, assuming a service deletion would kill the process with all threads, if the process keep running the threads would still be running in the ThreadPool, this explain everything.

If

[2018-12-05 14:32] guibirow commented on #257
OK, for shared process is clear to me now.

I am still not understanding why ExclusiveProcess keeps around for a while, based on the defaults they should be killed almost instantaneously after deactivation. If **_DeactivationScanInterval_** is not responsible for removing them, what might causing this delay? is there any other configuration I didn't notice?

[2018-12-06 02:19] #82 closed

[2018-12-06 10:00] AlkisFortuneFish opened #261 "BackupRestoreService preview 6.3.187.9494 crashes after release of 6.4.617.9590, blocking cluster changes and upgrades"
Since the day 6.4.617.9590 got released on our region, BackupRestoreService has crashed on all clusters using the preview on version 6.3.187.9494. This is unlikely to be a coincidence, as they are all using different storage accounts, are in different Resource Groups, use different resources, etc.

Because this puts the whole clusters in the Error state, I cannot disable BRS, upgrade the SF versio

[2018-12-06 13:34] AlkisFortuneFish commented on #261
My guess is that some external dependecy of BRS has been updated and is no longer API or data compatible with the preview version, which is problematic, as it means I cannot upgrade out of the preview version.

[2018-12-06 14:54] AlkisFortuneFish commented on #261
Digging in the Application event log, the BRS hosts crash with the following stack trace:
`Application: FabricBRS.exe
Framework Version: v4.0.30319
Description: The application requested process termination through System.Environment.FailFast(string message).
Message: 00000000-0000-0000-0000-000000007000@131835686279018867@fabric:/StateManager: Below type used in Reliable Collection urn:RetentionS

[2018-12-06 17:55] oanapl commented on #261
The [6.4 release notes](https://msdnshared.blob.core.windows.net/media/2018/12/Service-Fabric-6.4-Release.pdf) mention that:
"Service Fabric clusters with runtime version 6.3 where preview version of Backup restore service is enabled will fail to upgrade to 6.4 or later."
The release notes have steps that explain how to mitigate it.

1. Note the existing Minimum Replica Size and Target Replica Siz

[2018-12-06 17:59] AlkisFortuneFish commented on #261
The frustrating thing is that this happened entirely silently. It's my fault in that my clusters are set to upgrade automatically, but I did not really expect an automatic upgrade to push a breaking change.

[2018-12-06 18:56] AlkisFortuneFish commented on #261
I can not confirm that the upgrade still fails, it is being rolled back as we speak. Is there anything else I can do to sort it out? Inducing data loss to remove the incompatible data, perhaps?

[2018-12-06 19:22] oanapl commented on #261
@AlkisFortuneFish , we are very sorry for the inconvenience. We have a [more detailed tsg](https://github.com/Azure/Service-Fabric-Troubleshooting-Guides/blob/master/Known_Issues/Fabric%206.4%20Upgrade%20fails.md) you can try. Please let us know if this works.

We understand your concern regarding upgrade pushing a breaking change. We made the decision by looking at the number of customers that cu

[2018-12-06 20:53] AlkisFortuneFish commented on #261
The upgrade has now successfuly completed on all clusters. I had to remove all BRS replicas from the last stuck cluster as well and then it finished rolling back and rolled forward.

I guess this would all have been much easier to deal with if some sort of Azure service message was sent to either all customers with Azure hosted SF clusters or the ones that were actually running BRS to warn us.

An

[2018-12-06 20:59] guibirow commented on #216
Not exactly what you want but might help

https://cloudblogs.microsoft.com/opensource/2018/12/04/announcing-service-fabric-provider-bosh/

[2018-12-06 22:29] oanapl commented on #261
@AlkisFortuneFish , thank you for the update. I will close the issue based on your update, feel free to open a new one for similar issues.

We did plan to notify the customers we identified as running BRS, but unfortunately this didn't happen. We are following up internally to understand what went wrong and make sure the communication goes better next time it's needed.

[2018-12-06 22:29] #261 closed

[2018-12-07 10:45] davebally opened #262 "IFabricSecretStoreClient Invalid cast exception thrown"
Hi , ive updated the service fabric libraries from 6.3187 to 6.4.617 (as shown below) and am now getting the below exception thrown.  This is when i try to instantiate a new FabricClient() object.

The code itself is in a .net standard library used within a .net core 2.2 application.
I have seen similar oddities where mixed versions are used but everything seems to be in line here.

Any clues ?!!?

[2018-12-10 11:21] guibirow commented on #262
Have you updated the Cluster and SDK as well?

Not sure what the problem is in here, but the new libraries targeting an old cluster might cause these kind of issues.

[2018-12-10 12:24] b47on commented on #260
The documentation mentioned in release notes (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-eventstore) says that "As of Service Fabric version 6.4. the EventStore APIs are only available for Windows clusters running on Azure only. We are working on porting this functionality to Linux as well as our Standalone clusters."

[2018-12-11 09:50] b47on opened #263 "Failing to enable BackupRestore service on standalone cluster with non en-us culture"
I wanted to add the BackupRestore system service to my freshly upgraded (to 6.4) cluster on premises.

I followed the instructions (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-backuprestoreservice-quickstart-standalonecluster) and added this section to the cluster configuration:

[code]
It worked for the local dev cluster but failed miserably on 3 nodes test cluster. The B

[2018-12-11 12:42] chengzihu opened #264 "master branch install issue"
when i install the service fabric in ubuntu 16.4 version from github,something wrong is happend
that is:
The following packages have unmet dependencies:
 servicefabricsdkcommon : Depends: servicefabric (>= 6.4.625.1) but it is not going to be installed
E: Unable to correct problems, you have held broken packages.

I can't find the version 6.4.625.1 sdk.
something wrong please.

[2018-12-11 20:25] jackbond opened #265 "Service Fabric setup dogfood"
Every time I upgrade the Service Fabric SDK, I get prompted to shutdown the local cluster manager. Seriously guys, how lazy is that? So I need to navigate to the task bar, right click the SF icon, select shutdown, and then it pops up a confirmation prompt BEHIND the installation dialog. So now I have to find the hidden dialog, select yes, and then click the OK on the installation dialog.

How is i

[2018-12-11 20:37] johnduhart commented on #265
@jackbond Please take a minute to review the [Microsoft Open Source CoC](https://opensource.microsoft.com/codeofconduct/) if you haven't already.

[2018-12-12 07:29] raunakpandya commented on #265
@jackbond - We acknowledge the cleanup (and hence upgrade) experience of the SDKs has some usability issues and we are working on addressing a lot of them in the next release. The current experience can definitely be improved.

[2018-12-12 10:18] julioas09 opened #266 "FabricLogRoot configuration not working"
Hi,
I have a WS2016 on-prem cluster. I updated the configuration to change the DiagnosticStore and Logs  (FabricLogRoot) disk (change to F: disk) as follows:

[code]

However, after applying the changes, the Diagnostics data is correctly going to the new destination, but the Logs are still going to the default folder, and the Manifest information in the explorer still shows the default.
![e3](http

[2018-12-12 18:20] khandelwalbrijeshiitr commented on #263
@b47on, What is the default language of the machine??
Can you run this C# below code in the same machine and paste the o/p??
        CultureInfo ci = CultureInfo.InstalledUICulture;
        Console.WriteLine("* Name: {0}", ci.Name);

[2018-12-12 19:58] ibabou commented on #260
@Shman4ik , Yeah, currently there is no support for standalone clusters as part of 6.4.

[2018-12-13 06:02] writeameer commented on #216
Hey @guibirow,

Thanks for that - I'm sure there's some code in there that might help me. I was setting up some terraform modules to spin this up at the time:

- GCP https://registry.terraform.io/modules/Bee-Projects/sfabric/gcp/0.1.0
- AWS https://registry.terraform.io/modules/Bee-Projects/sfabric/aws/0.1.0
- AZURE https://registry.terraform.io/modules/Bee-Projects/sfabric/azure/0.1.1

The link y

[2018-12-13 07:02] guibirow commented on #216
Cool, looks promising, thanks for sharing!

I remember seeing something similar previously based on terraform,  at moment I can't remember where, but I will come back here if I find it again.

Cheers

[2018-12-13 16:42] raunakpandya commented on #263
So assuming all your machines are using English locale, does this repro for you consistently? I mean, what happens after failover or something?

[2018-12-13 19:32] mtraudt commented on #91
@mani-ramaswamy Do you have any more clarity on the time frame for Bionic support?

[2018-12-14 08:33] b47on commented on #263
I did further investigation, and InstalledUICulture is en-US but CultureInfo.CurrentCulture returns pl-PL - both using PowerShell remoting and calling it inside fabric app (as NETWORK SERVICE).

And it is consistently failing, dumping FabricBRS.exe.*.dmp files in diagnostic store. I also tried on single node standalone clustere (also VM with same os and culture settings) - the same result.

[2018-12-14 08:37] raunakpandya commented on #263
Thanks.. Seems like an issue parsing double in a machine which is in different culture. We are validating that and find ways to roll out the fix soon. As a mitigation for now, would it be possible for you to try it on a en-us build?

[2018-12-14 11:14] davebally commented on #262
@guibirow Seems to have been the issue, downloaded local SDK ( its a single node dev cluster ) and all now seems well.

[2018-12-14 11:14] #262 closed

[2018-12-17 08:34] raunakpandya opened #267 "Backup Restore service fails to come up on standalone cluster secure with gMSA authentication"
On SF v6.4, Backup Restore service crashes when enabled on standalone cluster which is secured with gMSA account.

Reference - MicrosoftDocs/azure-docs#19950

[2018-12-17 08:40] raunakpandya commented on #168
@darran1971 - Given that we don't have logs/ steps here, we aren't able to make progress here. Let me know if you are still hitting this with the latest version.

[2018-12-17 08:41] raunakpandya commented on #206
@mm-set - This issue is resolved as part of Service Fabric v6.4 release. I am going to close this now.

[2018-12-17 08:41] #206 closed

[2018-12-17 18:29] macgyver2k opened #268 "VSTS agent claims Service Fabric SDK is not installed on the build agent"
I tried to deploy a Service Fabric application to a local dev cluster via a VSTS agent with standard VSTS Service Fabric app deploy task, but it failed claiming not beeing able to find Service Fabric SDK installed on the agent.

`##[error]Service Fabric SDK is not installed on the build agent.  Go to https://aka.ms/servicefabric to download and install it.`

The agent was installed on a fresh Wind

[2018-12-17 20:47] b47on commented on #263
OK, I've tested it on a server with en-us Culture. Well, the BR service stopped crashing and generating the dumps, but it still cannot start - it keeps logging the first logs mentioned in my post - so there is still problem accessing the private key of the certificate...

[2018-12-18 09:14] raunakpandya commented on #263
Logging of the empty store can be ignored. Are you running this with gMSA security? If so there is a known issue - #267 which you may wanna take a look.

Also ensure that you don't pass more than 24 days for retention duration. Currently there is a known issue with that.

[2018-12-18 09:15] raunakpandya commented on #260
Based on the comments above, closing the issue.

[2018-12-18 09:15] #260 closed

[2018-12-18 09:20] khandelwalbrijeshiitr opened #269 "Backup Restore service goes into quorum loss when backup policy is created with retention duration more than 24 days"
On SF runtime version v6.4 or above, there is an issue when you create a backup policy with retention duration more than 24 days. The create policy API fails immediatly however due to some bug in the cleanup, the information stays somewhere in store. As a result now, once the FabricBRS primary fails over, it would fail to come up as it tries to initialize the System.Timers.Timer with internal valu

[2018-12-18 09:51] alexey-belous commented on #112
I have the same issue during `sfctl application upload` command. The command was also failed with `FABRIC_E_TIMEOUT`.

[2018-12-18 10:36] darran1971 commented on #168
[SetGlobalMastersBackupPolicy.zip](https://github.com/Microsoft/service-fabric/files/2690006/SetGlobalMastersBackupPolicy.zip)

Hi @raunakpandya,

It would appear I am hitting this issue again.

Following the last issue you investigated, I created the backup policy, and enabled backups using that policy (see attached zip above). However, I noticed that the backups were not being taken. So I tried

[2018-12-18 12:15] raunakpandya commented on #263
You can ignore the errors which are getting logged for failing to get the private key. As long as you have configured the certificate for access to cluster yourself during setup this should be all fine. So from your response seems like, the service is running fine and the cluster is healthy.

To answer your questions:
a. Yes, BRS takes a port from the application endpoint range. It may or may not

[2018-12-18 12:30] raunakpandya commented on #168
Hey, I am assuming the GetBackupProgress API is returning you the state as ACCEPTED even when you query after few minutes right? The logs you shared for were exactly around the time when you invoked the API. Possible for you to share the logs for few minutes post you invoke the API as well?

Can you also check if the service has access to file share?

[2018-12-18 13:34] khandelwalbrijeshiitr commented on #269
To mitigate, we need to clear the incorrect data from Fabric BRS. The following steps would incur data loss on Fabric BRS which would mean existing policies configured in FabricBRS would be lost. Before applying this mitigation this should be clarified with the customer and only then one should process. Not any backups in the storage would stay intact and once the policies are configured again, on

[2018-12-18 13:38] darran1971 commented on #168
Hi @raunakpandya,

Yes, that is correct. it still says accepted after several hours. The service uses the same share for diagnostics logging and that is working fine (File share access granted for the gMSA account credentials and machine accounts).

Here are the logs after a few minutes.
[e8fb74f2cf373516634a3b7ff8f76b65_fabric_traces_6.4.617.9590_131890990982540202_1360_00636807208174476897_00000

[2018-12-18 14:21] bishal-pdMSFT commented on #268
We use registry keys to look for SDK. This error can happen when 32 bit agent (released recently) is installed and then it wont find the registry key in 64 bit registry hive. The fix is to use 64 bit agent.

This could also happen if you have started agent before installing SDK. If so, you need to re-start the agent.

BTW, the task checks for following registry key to decide if SDK is installed:
H

[2018-12-18 16:06] #268 closed

[2018-12-18 17:21] guibirow opened #270 "Service Fabric Open Source Roadmap"
Hi All,

I am opening this thread to hopping I can aggregate some useful information about the open source roadmap for Service Fabric.

SF team has been advertising the plans for open sourcing service fabric for a while, we've got access to the source code and now we can see how it works behind the scenes. But it is clear that many things are missing in this journey, just the access to the source

[2018-12-19 00:57] oanapl commented on #112
@alexey-belous , your issue looks different that what's reported here (warning from System.CRM for constraint violation). Please open a new issue and provide more details.

[2018-12-19 16:49] Mortana89 opened #271 "NUGET DLLs missing since latest update"
Since the .622 update I'm facing issues in nuget packages that don't seem to be deployed to ASF. I set up console redirection and saw it is falling to resolve dependencies for various dlls that come from nuget packages. Diving into thé local cluster seems to tell me these dlls are missing. Could this be related?

[2018-12-19 18:35] v-mnagar commented on #271
@Mortana89  which dlls are missing?

[2018-12-19 18:39] Mortana89 commented on #271
Hi,

All the nuget DLLs. I have dependencies like autofac, fluentvalidation, etc.

Upon deploying I can see in the logs that it states that dll xxx can not be loaded from program.deps.json.
This happened after the upgrade from the previous version.
The only reason I upgraded was because I was facing a COM error when trying to configure HTTPS bindings in Kestrel using ASP.net core...
______________

[2018-12-19 19:33] Mortana89 commented on #271
Hi,

Sorry if I made this not clear.
It's not the service fabric DLLs that are missing, but my actual dependencies are missing...

[2018-12-19 20:03] suchiagicha commented on #271
@Mortana89
Could you provide more detailed on what changes you made ?  How you update to .622 release?
We don't own those dll's . My guess is you might have changed the package version for the non-service fabric dll also?

[2018-12-19 20:16] Mortana89 commented on #271
I only updated thé asf DLLs using the nuget package manager. And then Is downloaded the latest sdk and Ran the web PI installer
________________________________
From: suchiagicha <notifications@github.com>
Sent: Wednesday, December 19, 2018 9:03:17 PM
To: Microsoft/service-fabric
Cc: Yoni Nijs; Mention
Subject: Re: [Microsoft/service-fabric] NUGET DLLs missing since latest update (#271)

@Mortana8

[2018-12-20 00:10] francischeung opened #272 "Error when adding node type via az sf cli"
Here is the example command that is provided with "az sf cluster node-type add -h":
az sf cluster node-type add -g group-name -n cluster1 --node-type 'n2' --capacity 5 --vm-user-name 'adminName' --vm-password User@1234567890

I just replaced the group-name with my resource group name and cluster1 with the name of my cluster.

Here is the resulting error:
__init__() takes 1 positional argument but

[2018-12-20 07:46] Mortana89 commented on #271
Small update from my side; I removed the ASF SDK, and removed the VS Redist 2017 package. After a reboot, and reinstall, the services are now again able to find their dependencies!

[2018-12-20 07:46] #271 closed

[2018-12-20 16:39] MikkelHegn commented on #270
We are working hard to go the last mile in moving our development to the public repo. Early in the new year we will post an overview of the work remaining and the timeline to get us there. Rest assured we are committed to get this done.

[2018-12-20 23:33] julioas09 commented on #266
Turns out this cannot be done in an upgrade.
FabricLogRoot can only be set on cluster creation :(

[2018-12-20 23:33] #266 closed

[2018-12-20 23:39] julioas09 opened #273 "Can't import certificates from WS2016 host into container"
I'm trying to follow the [documentation ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-securing-containers)on importing certificates from the host to make them available inside the containers (I want to trust the PKI inside the container).
In this case the hosts are Windows Server 2016, and they're running Windows containers.

This is the Policies section in my ApplicationM

[2018-12-24 04:40] mingyanzhen opened #274 "No Windows version"
What? The Linux version has been out for so long. How come there is no windows version? After that, we can study hard. Thank you.

[2018-12-24 06:11] raunakpandya commented on #274
Hello, By windows version do you mean windows version of the source code?

[2018-12-24 06:19] mingyanzhen commented on #274
Hello,Yes, it's the source code of the project. Recently, I've been learning microservices.

[2018-12-24 06:36] mingyanzhen commented on #274
Thinks.

[2018-12-26 18:40] cmpcdaly opened #275 "Help restoring from disk backup"
One of our clusters was left unusable and had to be destroyed and recreated a few weeks ago, but I have the 'work' directory from each node containing partition folders with the 'ActorStateStore' database files. I need to recover the data from these files, even if it can't be restored directly onto a new cluster.

I tried reading the files using ManagedEsent, but the data seems corrupted (the data

[2019-01-03 10:08] rpili1313 opened #278 "Start-ServiceFabricClusterConfigurationUpgrade not working"
Hi,

I have an on-prem SF cluster running with certificates. When I try to change the config.json and run the command: Start-ServiceFabricClusterConfigurationUpgrade

It does not seem to trigger an action. I do not get any errors and when I run: Get-serviceFabricClusterConfigurationUpgradestatus it outputs:
RollingForwardCompleted

Already running of the node itself so... Any more suggestions?

Kr

[2019-01-03 18:23] #163 closed, assigned to nobody

[2019-01-05 07:10] KiransHub commented on #91
I need bionic support :*(

[2019-01-05 17:11] jackbond opened #279 "Remove-ServiceFabricApplication doesn't work"
When I issue the command

Remove-ServiceFabricApplication 'myapp' -Force -ForceRemove

the app should be gone in under 15 seconds. No excuses. To have it hang indefinitely is just incomprehensible. And just to be clear, the app I'm trying this on has 38 services, and the cluster is not pegged.

[2019-01-05 20:04] KevinHaisol opened #280 "Docker Container as a stateful service does not work and restarts every 20 minutes"
When deploying a docker image as a stateful service in a service fabric cluster it restarts every 20 minutes.  The health status of the service also shows an error even though the service works once it restarts.  I've worked with Microsoft support on this issue and from what I understand, this feature is not supported.  If there is an issue running a docker image as a stateful service than you sho

[2019-01-07 16:17] rifaterdemsahin opened #281 "Service fabric reverse proxy does not work onpremise"
I have also asked here as well
I have an ON PREMISE setup.
We have configured service fabric with the reverse proxy and it is not responding.

The endpoint I get from the service fabric explorer works
http://10.0.4.175:56968/4cd0892d-be48-456b-ac39-5334e9525888/131913483344987537/a47a06bd-d192-467f-a388-98b412479bd0/definition/

This one does not work ( So I suspect the naming service /Reverse Pro

[2019-01-07 16:39] rifaterdemsahin commented on #281
Do i need the certificate for reverse proxy?
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy-setup#enable-reverse-proxy-on-standalone-clusters

[2019-01-08 09:34] rifaterdemsahin commented on #281
After searching the logs I have found this. What is the next step for this?

`
2019-1-7 16:53:10.615,Informational,9096,9888,Transport.Msg_Dispatch@22fe1aee7e0,b1c414f5-71cb-475a-bb7f-113906304f76:197 False 1 687B
2019-1-7 16:53:10.615,Informational,5960,9888,NamingGateway.EntreeServiceIpcChannelRequestProcessing,68d02a08-5e2c-47d5-9376-0a876f45a2e3:0 Processing request, Action: PrefixResolveServi

[2019-01-08 09:35] luisgoncalves commented on #96
Hello,

Has this been fixed in latest `microsoft.servicefabric.actors` ? Thanks

[2019-01-08 10:02] ashishnegi commented on #96
@luisgoncalves This error came when generating cross platform packages from Visual studio.
Is your scenario same ? Are you generating Linux package ?
@amanbha Have we fixed the fabactutil issue ?

[2019-01-08 10:04] luisgoncalves commented on #96
@ashishnegi Yrs, I'm generating a Linux package on a Windows machine. For now I used `<UpdateServiceFabricManifestEnabled Condition="'$(RuntimeIdentifier)' != 'win7-x64'">False</UpdateServiceFabricManifestEnabled>` to workaound...

[2019-01-08 16:05] guibirow commented on #270
Announcements:

2018/08/28: [SF Blog: Open source updates and more ahead](https://blogs.msdn.microsoft.com/azureservicefabric/2018/08/28/open-source-updates-and-more-ahead/)

2018/03/14: [Service Fabric is going open source](https://blogs.msdn.microsoft.com/azureservicefabric/2018/03/14/service-fabric-is-going-open-source/)

[2019-01-09 01:26] bichuga opened #282 "Compile Service Fabric for AnyCPU rather than x64 to avoid msbuild error MSB3270"
Why are service fabric binaries compiled specifically for x64/amd64? This makes it difficult to take a reference on these binaries from an AnyCPU project because I have to retarget my entire chain to amd64. Why not instead target AnyCPU?

This is an example of an error I get:
[code]

[2019-01-09 10:01] MedAnd commented on #91
In case others are interested, have been successfully using RDP support on Ubuntu 16.04 for Service Fabric & VS Code development :sunglasses:

[2019-01-09 13:13] rifaterdemsahin commented on #281
it is still not working and got stuck
![image](https://user-images.githubusercontent.com/5270036/50901501-41f33180-1410-11e9-82e5-19c39375eb22.png)

[2019-01-10 00:55] mispencer opened #656 "AggregateException on Start-ServiceFabricClusterConfigurationUpgrade"
I attempted to run `Start-ServiceFabricClusterConfigurationUpgrade` on in-premise production cluster today and received the error below. I then downloaded the current cluster configuration (using ` Get-ServiceFabricClusterConfiguration`), updated the config version, and attempted `Start-ServiceFabricClusterConfigurationUpgrade` with that current configuration but I received the same error.

I have

[2019-01-11 02:13] GitTorre commented on #279
Hello, Thanks for filing an issue.

Can you elaborate a bit on what you mean by indefinitely. So, Removing the application *never* completes? That sounds like an issue with user code. Without knowing what your 38 services are doing, it's quite hard to diagnose potential blocking issue(s) during shutdown. Things just going poof when you call remove can be hard to guarantee if user code is preventin

[2019-01-11 02:20] jackbond commented on #279
Let's assume that the services have gone haywire and can't be gracefully removed. Wouldn't that be exactly the situation you'd want to use -Force? As in, "I give up, forget graceful, I just need it gone, kill this thing."

[2019-01-11 02:45] GitTorre commented on #279
When we issue a command to take down a service, it is a Ctrl-C, not a kill. So, the user code has a chance to die gracefully, with dignity, to clean up, get ready... -Force doesn't mean anything to us in terms of the command you are using. -Force seems to be a default flag that you can pass along on any PS command. Either way, we don't take it mean to just do something potentially dangerous to use

[2019-01-11 02:56] GitTorre commented on #280
Hi,

Re:

" If there is an issue running a docker image as a stateful service than you should not allow a user to configure a service in this way or fix the bug."

How did you happen upon this approach?

There are potentially many unsupported "features" in a general purpose platform like Service Fabric given the sheer volume of implementation possibility (things will generally work even though the

[2019-01-11 03:12] GitTorre commented on #282
Hi,

As you can see, there is a lot of interop going on between managed and native code in Service Fabric. We compile our native system to target 64-bit hardware that run in data centers in multiple clouds.

Perhaps one of our CLR gurus will chime in here, but I can comfortably say that AnyCPU doesn't actually mean very much, but it does mean less than x64 targeting- x64 provides the JIT with a us

[2019-01-11 03:46] bichuga commented on #282
Ah. I thought this was an all managed code project. Thanks for getting back
to me.

On Thu, Jan 10, 2019, 19:12 Charles Torre <notifications@github.com> wrote:

[2019-01-11 09:39] santo2 opened #283 "could not enable periodic backup with policy"
I want to enable periodic backup for a couple of my services, but after following documentation we are not getting any backups.

- the version of our SF:  6.4.622.9590
- I followed https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-backuprestoreservice-quickstart-azurecluster
- Policy has been created successfully, I can confirm that it's existing when I execute GET /BackupRestor

[2019-01-11 16:47] NArnott opened #284 "Where are the Service Fabric Reliable Collections Libraries"
During Microsoft Ignite 2018, they talked about new Service Fabric libraries for .NET Core that allow us to use reliable collections without having to use the Service Fabric runtime. (https://www.youtube.com/watch?reload=9&v=myPbo1aOAQk). The example showed the method: UseReliableCollectionsService that is called during standard AspNetCore initialization.

I've looked everywhere, but can't find th

[2019-01-11 23:44] brianstringfellow opened #285 "EventStore Events has No Items to Display and Indicates an Error Message"
A new service fabric cluster (v6.4.622.9590) was deployed in Azure using the page [here ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-eventstore) to add the relevant section to the ARM template. Deployment was successful and the cluster is healthy. The service `fabric:/System/EventStoreService` is ready and healthy.

Error message in UI:
![image](https://user-i

[2019-01-12 00:03] brianstringfellow opened #286 "EventStoreService Failed on Updated Cluster"
Attempted to update an existing cluster (v6.4.622.9590) in Azure using the page [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-eventstore) to add the relevant section to the ARM template. The deployment took 1 hour 21 minutes and indicated success when complete. In the service fabric explorer, the cluster is not entirely healthy and the service for `fabric:

[2019-01-12 01:11] markti opened #287 "Added Actor References using Nuget Causes MissingMethodException when trying to activate an actor"
I have an actor deployed into an application called "Foo.UserAccount". I have a WebAPI deployed into an application called "Foo". The WebAPI controller calls the Actor in "Foo.UserAccount". I have a CI/CD process setup to build the "Foo.UserAccount" actor. Part of this CI/CD pipeline is to push a nuget package that includes the Foo.UserAccount.Interfaces assembly. The Foo WebAPI consumes this nuge

[2019-01-12 16:13] KevinHaisol commented on #280
I was trying to use SF stateful services with containers.

According to Microsoft Support:
"The latest from Product Group is that you cannot use stateful in a container and should do stateless with caching."

From pg:
To use SF stateful service you will need to use SF’s programming model for reliable stateful service. It is currently not supported with containers.

[2019-01-14 18:21] VDuleb commented on #286
Thanks you @brianstringfellow  for reporting this. We are looking at the issue now and one of the engineer will reach out to you to get some details and share findings.

[2019-01-14 21:37] kavyako commented on #281
1. Is reverse proxy failing to forward request to the service completely or is it failing for some paths?

2. What do you see if you call:
https://localhost:19081/xxx.xxx/WebApi/definition?  Does that fail too?

3. Based on the below trace, it looks like reverse proxy received the request and successfully forwarded it to the service endpoint.
Does accessing the same path directly work? (WedApi/api

[2019-01-15 00:52] shsha-msft commented on #223
@daviddob thanks for reporting this issue. We have fixed this issue (we now set TMPDIR on Linux).
The fix should be part of the next release of Service Fabric Runtime.

[2019-01-15 00:57] #223 closed

[2019-01-15 01:36] mrdrwest commented on #232
I've run into a similar situation. I get **Export template operation completed with errors. Some resources were not exported. Please see details for more information. (Code: ExportTemplateCompletedWithErrors)**

- Could not get resources of the type 'Microsoft.Storage/storageAccounts/managementPolicies'. Resources of this type will not be exported. (Code: ExportTemplateProviderError, Target: Micro

[2019-01-15 09:10] MikkelHegn commented on #284
They shipped as part of the 6.4 SDK release, please note they are in a preview state.

[2019-01-15 10:49] tijntje commented on #283
Any Updates on this? I'm facing the same problem.

[2019-01-15 14:30] NArnott commented on #284
Where are they though? Are they on nuget.org?

[2019-01-15 17:06] Shman4ik opened #288 "ServiceFabric.exe create many files in folder \ProgramData\Microsoft\Crypto\RSA\MachineKeys every day"
I noticed an unpleasant feature that ServiceFabric.exe creates an average of 50 files in the C:\ProgramData\Microsoft\Crypto\RSA\MachineKeys folder every day.

This change began around May 31, 2019. Most likely it happened after the update Service Fabric 6.2 Refresh Release (CU2) release. Could you please fix it and give some recommendations on how to clean the folder safely, because there are alr

[2019-01-15 18:47] ibabou commented on #286
Hi @brianstringfellow, Can you please share the current fabricSettings of this cluster? you can share the whole cluster resource template as well, I mean here retrieving the current one. Please upload it to a shareable location, and link to it here. Thanks!

[2019-01-15 21:35] ibabou commented on #285
@brianstringfellow, can you please try hitting the UI from a different fresh browser window and select the cert when prompted? and then let me know if the issue is still persistent?. Also, is this happening with all new clusters you tried to create or only with this instance?. EventStore service is served through the same gateway as other system services, so it is a bit weird to get E_ACCESSDENIED

[2019-01-16 17:38] brianstringfellow commented on #285
Hi @ibabou - the problems persists. I have tried both Chrome and Edge. The problem occurs with any new cluster based on the ARM template used for deployment. Does the EventStore use a particular port? We have our NSGs locked down based upon the published service fabric cluster needs and the needs of our applications.

[2019-01-16 19:23] aagup commented on #283
Hello @tijntje  / @santo2 Can you please share the resource ID for the cluster where the above error is being reported. I will also request you to try other backup policy flavors.

Can you please also try with container name in lower letters

[2019-01-16 20:55] ibabou commented on #286
Yeah, sure. I sent you an email, please forward to me the template over there. Thanks!

[2019-01-16 21:48] ibabou commented on #285
The https port that EventStore service will be listening on is dynamic. but, the request goes first through the gateway (19080). and then if all nodes can talk to each others within the range of ports specified for all applications, gateway on one node should be able to talk to the primary of EventStore service if it is running on a different one ?.

[2019-01-16 23:07] brianstringfellow commented on #285
Are there any logs anywhere that I can view to perhaps get a hint at what may be wrong?
I've looked at the primary node's event logs and application insights. I have the WadCfg setup for the standard service fabric listeners.

[2019-01-17 07:01] hrushib commented on #283
@tijntje, @santo2
The above mentioned error occurs when the container named used for storing backups doesn't comply with container naming rules. So please update the container name in the above backup policy to comply with [container naming rules](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata).

[2019-01-17 08:40] tijntje commented on #283
I tried with following policy:
[code]

Creating the policy succeeds:

[code]

Also enabling succeeds:

[code]

I get following exception while getting the applied policy for an application:
[code]

[2019-01-17 09:42] darestov opened #289 "Visual Studio does not run a SF project without the debugger"
After updating to SF SDK 6.4, there is the issue:

1) When I hit F5 (run with the debugger) it is run successfully.
2) When I click "Run without the debugger", the application gets deleted from the cluster, app type is created, but the actual service instances are not run.

[2019-01-17 09:50] hrushib commented on #283
@tijntje,
You need to use [GetBackupConfigurationInfo](https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-getapplicationbackupconfigurationinfo) API for getting the applied policy for application.

See [BackupRestore APIs](https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-index-backuprestore) for list of supported APIs along with brief description. Also [Understand

[2019-01-17 19:17] nickdb93 opened #290 "Request for status on development of Command-Line and VS Code Tools"
I'm a big fan of SF. It's helping my organization develop more reliable services within the Microsoft sphere (i.e. SF instead of Kubernetes, etc.), especially since we're stuck on Server 2012 R2 for the foreseeable future.

That being said, I'm also a huge fan of VS Code and starting projects from scratch. So, imagine my disappointment when I realize the only well-documented way to build and deplo

[2019-01-18 03:19] rainryu commented on #149
@mani-ramaswamy @dkkapur

Any progressing  on this issues ？Thx

[2019-01-18 09:10] alexey-belous opened #291 "504 Server Error: FABRIC_E_TIMEOUT error"
I have 504 Server Error: FABRIC_E_TIMEOUT error during execution of `sfctl application upload` with Dockerized SF cluster. It happens when I'm uploading about 170 files, the error occurs when the most part of files is uploaded. `docker logs` doesn't show any errors in the logs.

Here is a full stack trace of `sfctl` utility:
[code]

Versions:
Service Fabric image: 6.4.625
sfctl: 6.0.0
Python: (Dar

[2019-01-18 10:02] alexey-belous commented on #112
@oanapl, done. The issue #291

[2019-01-18 12:11] pregress opened #292 "Installing standalone cluster fails: Not a cryptographic message or the cryptographic message is not formatted correctly. (Exception from HRESULT: 0x8009200D)"
When installing a stand alone cluster based on the [docs](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-for-windows-server) we execute the following script:

`.\TestConfiguration.ps1 -ClusterConfigFilePath "ClusterConfig.Windows.OneNode.json" -FabricRuntimePackagePath "c:\temp\ServiceFabric\MicrosoftAzureServiceFabric.6.4.622.9590.cab"`

And we receive the f

[2019-01-18 12:26] pregress commented on #292
Redownloading the cab file worked.

[2019-01-18 12:26] #292 closed

[2019-01-21 04:24] kentcb opened #293 "The "GetServiceProjectReferences" task failed unexpectedly. System.ArgumentNullException: Value cannot be null."
Ran into this after adding an actor service:

[code]

Turns out it's because there was no code package defined in the service manifest, and that's because I had enabled `<UpdateServiceFabricManifestEnabled>false</UpdateServiceFabricManifestEnabled>` reflexively when adding the project. I did that because of [this other bug](https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/iss

[2019-01-21 11:22] #283 closed

[2019-01-22 05:02] eihctir commented on #291
I too am having this same issue with the docker service fabric cluster. I am trying to upload a 400 plus file build output for aspnet core app.

[2019-01-23 11:14] alexey-belous commented on #291
When timeout is occurred Service Fabric explorer shows this error in the ImageStoreService:
[code]

[2019-01-24 05:33] jackbond opened #294 "Service Fabric Explorer Left Column MaxWidth = 900px?"
I'm really confused by anyone who makes a decision like this. Never mind the fact that I've got a gaming monitor that's 6000 pixels wide. Whoever coded that literally ADDED code that, not only SERVES ABSOLUTELY NO PURPOSE, but is actually detrimental to the user experience. Unfortunately removing it now will require a story, someone putting it in the backlog, reviewing, delaying, etc, etc. Boggles

[2019-01-24 09:35] juho-hanhimaki commented on #285
I am observing the same behaviour on my cluster.

Perhaps the issue is that i am using Azure AD to authenticate to cluster (instead of certificate). Does EventStore support Azure AD authentication?

![image](https://user-images.githubusercontent.com/12390182/51668933-00e04d00-1fcc-11e9-945d-f56635812994.png)

[2019-01-24 13:57] oanapl commented on #294
@jackbond , thank you for reporting. Service Fabric Explorer is open-sourced [here](https://github.com/Microsoft/service-fabric-explorer), so you can open new features directly there. @jeffj6123 , can you please look into this?

[2019-01-24 19:47] basanth-msft commented on #73
I am facing the same issue listed above. However, even after adding the missing dlls, I still see no AAD authentication popup and the code throws exception about the credentials being invalid. How do I fix this?

[2019-01-24 22:43] jeffj6123 commented on #294
Yes, I can look into removing the max width for the left column.

[2019-01-26 07:42] mikoskinen commented on #284
How can we integrate the library into a (non-Service Fabric) ASP.NET Core app? Through NuGet? Or by installing the SDK and referencing the DLLs manually?

[2019-01-27 14:36] xela30 commented on #260
@b47on @ibabou Guys, how to remove that broken EventStoreService from the standalone cluster?

[2019-01-28 10:01] originalnoe-nazvanie commented on #278
Hi, there is a documentaion about on-prem cluster manifest upgrades.
shortly:
1) Connect to sf cluster
 Connect-ServiceFabricCluster -ConnectionEndpoint d1v6-sf.domain.lan:19000 -KeepAliveIntervalInSec 10 -X509Credential -ServerCertThumbprint publicsslthumprinthere -FindType FindByThumbprint -FindValue youraccesscertthumbprint -StoreLocation CurrentUser -StoreName My
2) get old config
Get-ServiceF

[2019-01-28 19:16] ibabou commented on #260
Hi @xela30, what error are you seeing while trying to do the upgrade ? What is the rollback reason in this case ?

[2019-01-29 00:54] jackbond commented on #279
No comment? Is it possible to request that if -Force is supplied than Ctrl-C isn't used? -Force is a pattern in Powershell for a reason, and NOT implementing can very much be considered a bug.

[2019-01-29 07:08] xela30 commented on #260
Hi @ibabou.
Thanks for quick turnaround!
I assume cluster config upgrade (to previous version with no EventStoreService) get's rolled back just because cluster is unhealthy due to broken EventStoreService.
Is there a way to determine the exact reason more precisely?
Get-ServiceFabricClusterConfigurationUpgradeStatus is not informative a lot.
I also tried ordinary Remove-ServiceFabricApplication (o

[2019-01-29 16:25] messnerdev opened #295 "Application name an Service name requirements"
I have observed that there is _some_ functionality in ServiceFabric where the service name and application name cannot be the same. It would be nice if this behavior was consistent across all functionality. For example I can create a service with the same name as an application, but cannot delete it using the code below:
`await fabricClient.ServiceManager.DeleteServiceAsync(deleteServiceDescriptio

[2019-01-29 19:25] jackbond commented on #279
Fascinating...

[code]

So the DeleteServiceDescription supports kill, which could "do something potentially dangerous to user data", but the Powershell cmdlet for doing THE EXACT SAME OPERATION, and with the EXACT SAME ARGUMENT NAME, doesn't actually set ForceDelete to true?

[2019-01-29 20:09] MattDarg commented on #260
Just to say I've also seen this issue.  As the local cluster runs the EventStore ok, I thought I'd try it on a DEV Standalone cluster.

The config upgrade to turn on the feature worked- probably because the EventStore didn't error quickly enough, but the EventStoreService doesn't run (access denied trying to sue the LocalSystem account I think, which we're not running under).

I tried to do anothe

[2019-01-29 20:45] iyyappam commented on #291
@alexey-belous, Thanks for filing the issue. We will take a look and update you.

[2019-01-29 23:22] ibabou commented on #260
Hi @xela30 @MattDarg,

I assume on this cluster you've UpgradeOrchaestrationService and using the following commands to get the settings and update it:

Get-ServiceFabricClusterConfiguration
Start-ServiceFabricClusterConfigurationUpgrade

If the service is in error state, the later command has arguments to set the error percentage allowed to make it through.

The access denied error will happen on

[2019-01-30 19:53] BharatNarasimman commented on #73
@basanth-msft - Can you please check the exception message in the InvalidCredentialsException?

[2019-01-30 19:58] Christina-Kang commented on #291
Hi @alexey-belous, @eihctir, thank you for reporting the issue.

@alexey-belous To help us debug, can you provide the cluster traces for your cluster? It should be located at `etc/servicefabric/FabricDataRoot` and an approximate time of when you ran the command? Can you also share the full command you ran and the output of the command with the --show-progress and --debug options? Do you know if an

[2019-01-31 01:44] ibabou commented on #286
As per @brianstringfellow update (synced offline), the template used didn't include the azure table storage's configuration, that is required by EventStore service. We can close the issue.

[2019-01-31 10:13] MattDarg commented on #260
Hi @ibabou, thanks for the reply.

Yes, I had this issue on an on-premise standalone cluster and we have the Host service running under a domain user account- which I guess it doesn't have LocalSystem rights (other system services run ok though),

As it was just a DEV cluster I ended up doing a cluster reinstall.  If it should work on a standalone cluster, given the right permissions, I might give

[2019-01-31 14:21] brianstringfellow commented on #286
Agreed. Once I added the following section to the ARM template, the EventStore service started working. Looking back at the error message in the exception, that makes sense. Perhaps the documentation could contain a note to indicate the link between the EventStore service and the diagnostics storage account.
[code]

[2019-01-31 14:21] #286 closed

[2019-01-31 18:40] juho-hanhimaki commented on #285
Still seeing this same issue on my cluster:

{
  "Error": {
    "Code": "E_ACCESSDENIED",
    "Message": "Access Denied."
  }
}

I am wondering if the root cause of this has something do with same error message i get with BackupRestoreService on the same cluster:
https://github.com/MicrosoftDocs/azure-docs/issues/23747

[2019-01-31 19:36] ibabou commented on #285
Hi @juho-hanhimaki , Currently the service requires a X.509 security to be used for authentication. and yes it has been architected similar to the backup restore service by having its own http/https endpoint, so it requires a Cert for a secured cluster.

[2019-01-31 20:43] juho-hanhimaki commented on #285
@ibabou
Just to make sure we don't have misunderstanding here my cluster is secured with certificate.

![image](https://user-images.githubusercontent.com/12390182/52083946-8c984180-25a9-11e9-9415-69ee983da9ad.png)

I tried my cluster with pure X.509 authentication earlier today. I my test i just removed the "azureActiveDirectory" configuration node from my ARM template and deployed the change. Yet

[2019-01-31 21:12] juho-hanhimaki commented on #285
Just spun up a new cluster but removed the AD authentication part. Still see the same error message when trying to view events.

[2019-01-31 22:13] ibabou commented on #285
Hi @juho-hanhimaki, is there any specific NSG rules you've ? EventStore service uses a port from applications ports pool for its https server. and any gateway that receives the request should be able to talk to the primary of EventStore service to process it. If not, and this is just a regular new SFRP cluster, please open a ticket to customer support (who can help creating an incident) so we can

[2019-01-31 22:36] eihctir commented on #291
@Christina-Kang are you saying because I have too many files or because a single file is too large? My largest file is 13MB. From what I can see it fails on different files.

I am using the install.sh bash script included with the linux template.

`#!/bin/bash
cd `dirname $0`
sfctl application upload --path SampleApp --show-progress
sfctl application provision --application-type-build-path SampleA

[2019-01-31 23:02] ibabou commented on #285
@brianstringfellow , so did you use a template similar to this when creating the cluster:
https://github.com/Azure-Samples/service-fabric-cluster-templates/blob/master/5-VM-Windows-1-NodeTypes-Secure-NSG/azuredeploy.json
Or did you add the NSG rules later ?

because as you can see in this sample template, the applications ports range is opened between the vms:
          {
            "name": "allo

[2019-01-31 23:54] juho-hanhimaki commented on #285
@ibabou I was finally able to figure out what is causing the issue. It seems the EventStore and BackupRestoreService both can't be reached when cluster certificate is bound by common name.

That is too bad because using common name to bind the certificate is considered a best practice:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-best-practices-security#secure-a-service-fab

[2019-02-01 01:10] ibabou commented on #285
Hi @juho-hanhimaki , can you please share the resourceGroup/region/cluster where you deployed the cluster with the common names configuration ? and if you can, please share as well the deployment correlation id ?

Thanks,
Ibrahim

[2019-02-01 01:11] brianstringfellow commented on #285
The scenario described by @juho-hanhimaki is exactly what I have encountered. I have an old cluster that uses a certificate thumbprint and I was able to get EventStore to work there. On a new cluster that uses the certificate common name, that's where I see this problem.

[2019-02-01 08:04] juho-hanhimaki commented on #285
@ibabou I just emailed you the cluster details.

[2019-02-01 08:52] alexey-belous commented on #291
@Christina-Kang, here's info that you asked:
1. Cluster traces are available here (from `/home/ClusterDeployer/ClusterData/Data/log/Traces`): https://drive.google.com/open?id=1yz7PPZPdwL4a-LdaZVWUSCH8JNJh9J5t

2. Command that I run is `sfctl application upload --path ./publish --show-progress --debug` (at 08:41 UTC) and the output is:
According to your recommendation I've upgraded `sfctl` to 7.0.0

[2019-02-01 09:33] xela30 commented on #260
@ibabou Manifest only upgrade is also failing and rolling back.
What do you think about upgrading it in UnmonitoredAuto mode as a last resort?

[2019-02-01 13:40] hrushib commented on #285
As discussed offline on email thread, this is happening as `certificateIssuerThumbprint` is left empty. Please configure this with appropriate value and this will start accepting requests.

[2019-02-01 13:56] brianstringfellow commented on #285
Hi @ibabou, is the issue really closed? As I understand from the following Microsoft page, the cluster services should work with common name and `certificateIssuerThumbprint` is blank. The same was pointed out by juho-hanhimaki above.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-change-cert-thumbprint-to-cn

[code]

[2019-02-01 14:00] juho-hanhimaki commented on #285
Yep, I am not fully happy with this either. There exists no good reason to require certificateIssuerThumbprint for a certificate that is totally valid and issued by trusted root CA.

Cluster also doesn't require it. It's only EventStore and BackupRestoreService that do.

Managing IssuerThumbprints is unnecessary burden as its totally normal that the Issuer might change when new certificates are re

[2019-02-01 16:03] aljo-microsoft commented on #285
@brianstringfellow  and @juho-hanhimaki and @MicahMcKittrick-MSFT

Please assign this to me as a doc bug.

I will fix our documentation to always reflects declaring an issuer thumbprint, as it is a best practice to do.

[2019-02-01 17:23] juho-hanhimaki commented on #285
I can't believe you would recommend using issuer thumbprint when service fabric team has announced in blog post that thumbprints are basically evil. If other customers feel the same please, let your opinion be known.

https://blogs.msdn.microsoft.com/azureservicefabric/2018/04/27/secrets-management-through-certificate-common-names/

Please reconsider.

[2019-02-01 17:30] dragav commented on #285
@brianstringfellow @juho-hanhimaki are your certificates trusted? Are your clusters working fine otherwise? Thanks.

[2019-02-01 17:34] juho-hanhimaki commented on #285
@dragav Yes trusted (AddTrust External CA Root) and working fine except for the inability to connect to BackupRestoreService and EventStore.

[2019-02-01 17:48] brianstringfellow commented on #285
@dragav Yes, trusted (Trusted Secure Certificate Authority 5) and working fine with services, aside from EventStore.

[2019-02-01 17:49] juho-hanhimaki commented on #285
This is what @hrushib said in our email conversation regarding "certificateIssuerThumbprint" parameter:

So if that statement is accurate at least there should be a clear understanding of why the cluster works but BackupRestoreService (and EventStore) don't.

The empty certificateIssuerThumbprint has been discussed previously here:
https://github.com/MicrosoftDocs/azure-docs/issues/16440#issuecomm

[2019-02-01 18:12] dragav commented on #285
@brianstringfellow @juho-hanhimaki thank you both for the prompt confirmation. We support specifying intermediate thumbprints as a means to strengthen the certificate validation, and also for situations where the root is not trusted (it's pinning the issuer vs pinning the leaf's thumbprint). As of the current release, issuer pinning is not required although recommended. We will follow up internall

[2019-02-01 19:08] aljo-microsoft commented on #285
@juho-hanhimaki
I wrote our team blog posting you referenced related to common name. It is recommended that you pin your issuer thumbprint, and I will update our documentation on this shortly.

[2019-02-02 00:02] Christina-Kang commented on #291
@alexey-belous, thanks for sharing the information! It looks like traces from 8:41 are not included in the traces shared (which end at 8:37). This could happen if you grabbed the traces right after running the command, and it hasn't been added to the trace file yet. If you haven't deleted the cluster, the traces will definitely be there now.

Since it's failing on different files, and since it suc

[2019-02-05 18:53] oanapl commented on #279
@jackbond , let me clarify: [Powershell cmdlet](https://docs.microsoft.com/powershell/module/servicefabric/remove-servicefabricservice?view=azureservicefabricps) has 2 parameters, Force (which is the common parameter for all commands) and ForceRemove, which translates into calling delete with the description class you mentioned above with ForceDelete true. So it's all expected. From the documentat

[2019-02-05 21:59] oanapl commented on #295
@messnerdev , thank you for raising the issue. Create and Delete should use the same validation logic for app and service names, so this looks like a bug. We will try this scenario and update.

[2019-02-06 06:51] shacal commented on #265
@jackbond manually upgrading several machines, is already something that you should not do and is just waste use of popups?

[2019-02-07 13:57] xela30 commented on #260
@ibabou Would you please advise if there is a big risk in running cluster manifest upgrade in UnmonitoredAuto mode?

[2019-02-08 07:32] tastyeggs opened #296 "Basic install of service fabric development doesn't work on Mac OS X and Ubuntu due to FileStoreService segfault"
I'm following the instructions to the dot, in getting a dev environment setup for service fabric on docker on Mac OS X. I got the cluster itself running, and my SF Dashboard looks OK.

However whenever I try to install a test reliable service application (generated by yeoman), the `./install.sh` fails when it tries to upload the application. At the same time, SF Dashboard reports that the ImageSto

[2019-02-08 17:45] eihctir commented on #291
Sorry I can't find the trace files. I think I will wait for the new version of the cli. I am able to develop on a windows machine for now.

[2019-02-08 23:24] tastyeggs commented on #296
Ah, it looks like a rssh security issue for which you guys had sent out the advisory. Downgrading rssh fixes the issue.

https://blogs.msdn.microsoft.com/azureservicefabric/2019/02/07/known-issue-for-service-fabric-linux-clusters/

[2019-02-08 23:24] #296 closed

[2019-02-09 07:14] schouty opened #297 "File locking issues during Service Fabric build and package commands in dotnet core"
We have about 25 MicroServices created in dotnet core (2.1.1 version). They are created as a Service Fabric Projects. We also have 2 Service Fabric (SF) applications that reference these 25 projects distributed among those two. I have VS 2017 Enterprise (15.8.4) installed on my machine. I can build, package and deploy these 25 services (2 fabric applications) in my local SF cluster without any iss

[2019-02-09 18:53] jfalameda opened #298 "(FABRIC_E_IMAGEBUILDER_VALIDATION_ERROR) Exception while parsing XML file"
Hi,

I am trying to run a cluster on a Ubuntu 16 machine. I followed this tutorial:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux

I get the following error after uploading the application. I have already checked that the xml files are correct and in place, also I tried changing the charset and everything possible.

I do not have this problem when running

[2019-02-09 19:01] jfalameda commented on #91
Any updates on this?

Thanks.

[2019-02-11 09:03] raunakpandya commented on #298
This is related to the following - https://blogs.msdn.microsoft.com/azureservicefabric/2019/02/07/known-issue-for-service-fabric-linux-clusters/

[2019-02-11 09:05] raunakpandya commented on #269
The fix is now released in the latest Service Fabric v6.4 refresh. https://blogs.msdn.microsoft.com/azureservicefabric/2019/02/04/azure-service-fabric-6-4-refresh-release/

[2019-02-11 09:05] #269 closed

[2019-02-11 09:05] raunakpandya commented on #267
This has been fixed in the latest refresh - https://blogs.msdn.microsoft.com/azureservicefabric/2019/02/04/azure-service-fabric-6-4-refresh-release/

[2019-02-11 09:05] #267 closed

[2019-02-11 09:05] raunakpandya commented on #263
This has been fixed in the latest refresh - https://blogs.msdn.microsoft.com/azureservicefabric/2019/02/04/azure-service-fabric-6-4-refresh-release/

[2019-02-11 09:05] #263 closed

[2019-02-11 12:01] tomtoepel commented on #260
I've got exactly the same issue as you. Have you found a working solution to remove the EventStore ?

[2019-02-11 13:17] darran1971 commented on #267
Hi raunakpandya,

I have Upgraded my cluster to the latest refresh release, However, this resulted in all instances of the existing BackupRestore service failing on every node. The service tries to start on random nodes, but never gets passed "InBuild". I've checked the logs and it points to a null reference in main on the BRS service.
I have tried to remove the BackupService via the Configuration

[2019-02-11 14:16] raunakpandya commented on #267
Hey Darran, can you please log in a new issue for this one? From what version to what version did you upgrade?

[2019-02-12 07:52] aagup commented on #267
Hello Darran ,

Can you please share the logs and cluster manifest file for the cluster ?

[2019-02-12 12:31] xela30 commented on #260
@tomtoepel I'm still waiting for answer from @ibabou as I don't want to accidentally screw up the cluster. Fortunately, unhealthy EventStore service doesn't block other applications from being upgraded.
However, I assume the SF runtime upgrade will fail similarly to cluster config upgrade.

[2019-02-13 09:02] darran1971 commented on #267
Hi raunakpandya, aagup,
I upgraded from version 6.4.617.9590 to 6.4.637.9590.
I had the BRS running on gMSA authentication on version 6.4.617.9590. So when I updated to 6.4.637.9590, the FabricBRSSetup.exe crashed on each node, with a nullexception error. The only way I could get the FabricBRSSetup.exe to run on my cluster after upgrading to 6.4.637.9590 was to swap the BRS code package from the p

[2019-02-13 09:14] aagup commented on #267
Thanks for patience and contribution in work around.

Can you please share the output from the primary node of the FabricBRS Service for the list or urlacl's
netsh http  show urlacl

I will request you to kindly share the traces for the cluster as it will help in root causing the issue.

[2019-02-13 09:31] darran1971 commented on #267
Hi aagup,

[2019-02-13 18:04] jfalameda commented on #298
It is unclear how should I apply this on my Ubuntu 16 machine. Do I only need to update the package? Or run the python file directly on my machine?

Thanks in advance.

Kind Regards,
/ José.

[2019-02-14 05:24] kentcb opened #299 "Why is local cluster reset so slow?"
Hi,

When I have to reset my 1-node local cluster (which happens more often than I'd like, but that's another issue) it's incredibly _sllllllooow_, taking up to 4 or 5 minutes. Is this expected? If not, any clues as to what might be wrong?

Guess I'm looking for some metrics on how long a local cluster reset is taking for other folks so I can figure out whether this is a problem on my end, or with

[2019-02-15 15:16] Angelicvorian commented on #229
Just thought i'd update this. Been performing some other testing which means re-visiting the Ansible module that performs all this for us.
I've found that by placing some constraints on where the RepairManager service is located and by using -MaxPercentUnhealthyNodes 13 -MaxPercentDeltaUnhealthyNodes 13 (percentage calculated from number of nodes to remove from the cluster and rounded up) switches

[2019-02-15 15:34] fnbk opened #300 "ServiceFabric Upgrade fails when enabling EventStore"
Upgrading the ServiceFabric to enable the EventStore fails.

fabric:/System/EventStoreService fails to start and terminates and when looking into the diagnostic logs on the node I can see the following error message:

[code]

Service Fabric Version: 6.4.637.9590

[2019-02-15 15:46] fnbk commented on #300
[code]

[2019-02-15 15:48] fnbk commented on #300
[code]

[2019-02-15 22:01] xzhou1111 commented on #298
I followed the instruction in  https://blogs.msdn.microsoft.com/azureservicefabric/2019/02/07/known-issue-for-service-fabric-linux-clusters/

It resolves the issue for the first time. However the second deployment still have the following error during deployment:

Exception while parsing XML file: /mnt/sfroot/IB/131947411644436310/2e0f1ldq.fxx. Check if XML content is well formed by comparing agai

[2019-02-15 22:15] iyyappam commented on #298
It is possible that rssh package would have got updated back.
You might have to make sure that rssh package is of version rssh_2.3.4-4.

Else you may have to downgrade rssh package as below.
wget http://archive.ubuntu.com/ubuntu/pool/universe/r/rssh/rssh_2.3.4-4_amd64.deb
sudo dpkg -i rssh_2.3.4-4_amd64.deb

[2019-02-15 22:51] rock11rock22 opened #633 "After Upgrading service fabric to 6.4.637.9590 getting System.UpgradeOrchestrationService' reported Warning for property 'ManifestVersionMismatch'. Mismatched cluster manifest versions: 1 0. Please perform a config upgrade to sync manifest state. --"
1.

'System.UpgradeOrchestrationService' reported Warning for property 'ManifestVersionMismatch'. Mismatched cluster manifest versions: 1 0. Please perform a config upgrade to sync manifest state.
--

[2019-02-17 07:50] Mortana89 commented on #297
I'm very often facing the same issues in my local cluster. Have 13microservices and 24 projects in one solution. But for some reason VS deploy fails because some DLLs are locked. A cluster reset is the only solution then...

[2019-02-18 19:42] m1stegmann commented on #166
We got the following exception every two or three days.
How to deal with this error?

SF Version: 6.3.176.9494
With a five node production cluster with D13V2 instances

Error event: SourceId='UpgradeService.Primary', Property='SFRPStreamChannel'.
Exception encountered: System.Threading.Tasks.TaskCanceledException: A task was canceled.
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSu

[2019-02-19 07:56] cwe1ss commented on #285
Does this mean that we should populate the common name AND the thumbprint in the template?

[2019-02-21 19:27] QuinntyneBrown opened #301 "Detect a Node is down outside of application code"
Is there a way to detect if a node is down outside of the Service Fabric application code.

[2019-02-21 20:37] QuinntyneBrown opened #302 "Unable to resolve FabricClient"
I'm trying to use "FabricClient" in a simple Stateful Service (Asp.net Core) and I get an exception when I try to inject FabricClient

Unable to resolve service for type 'System.Fabric.FabricClient'.

[2019-02-22 00:27] mchiriac-msft commented on #166
The issue should be transient. It will not impact the deployed cluster or applications.
The health error report should clear automatically.

UpgradeService is timing out the calls against the ServiceFabric resource provider in ARM to collect the stream channel request. Azure Portal or the cluster Service Fabric Explorer(SFX) might take longer to show the runtime view of the cluster.

@pksorensen/@

[2019-02-22 07:26] pksorensen commented on #166
@mchiriac-msft  Nope, i dont see it any more.

However, i did have the problem that my ARM deployment did not work while the error was ongoing ?

As soon as the error was gone, i could do a ARM deployment of application again.

[2019-02-22 18:03] mchiriac-msft commented on #166
@pksorensen can you provide an ARM correlation ID for the deployment that failed while the error was ongoing? I'll look to see what happened.

[2019-02-25 10:57] julioas09 commented on #273
The correct solution was to include the certificate in the Repo and install it to the root store in a Dokcerfile step:

[code]

[2019-02-25 10:57] #273 closed

[2019-02-25 11:13] anantshankar17 commented on #299
Hi @kentcb
Are you talking about the native 1 node cluster or the mesh 1 node cluster ? For a native SF 1-node cluster, the reset normally completes within 2 minutes. Do you see any errors while the reset is being performed, errors like failure to cleanup/setup cluster ? So, if there is indeed a failure then a retry is done. Could this be taking that long for you ?

[2019-02-25 22:28] kentcb commented on #299
Yeah, native.

I think my 5 minute resets are related to a Surface Book 2 + Windows perf + GPU issue I've been struggling with ([this article](https://www.digitaltrends.com/computing/surface-book-2-as-only-pc/) talks about it in the last section).

When my laptop _is_ performing OK, 2 minutes sounds about how long it's taking. That's expected? That still seems an awful long time for a "reset". My

[2019-02-26 06:15] anantshankar17 commented on #299
Yeah, the reset actually removes the existing cluster and recreates a new one from scratch.

[2019-02-27 06:16] jiqh commented on #295
@messnerdev , do you mean you are using the same name for application and service inside the application? You can create the service successfully but not delete?

[2019-02-27 10:05] OlegTontici commented on #297
Sometimes when during the deploy something goes wrong, you can end up with some services already deployed, mean running processes for them, while other ones fail.

So, you can check processes running on the machine and stop those which block file access/move/copy operations.
First step however,before processes stop, is to unload application/s from SF manager, cause if you just stop the processes S

[2019-02-27 10:10] Mortana89 commented on #297
That's possible, but not very userfriendly if you have many services.
If I stop debugging I expect all the services to be unloaded/stopped automatically, so I can quickly fix and continue debugging, that would be the best solution I think?

[2019-02-27 10:17] OlegTontici commented on #297
The thing is that when you stop debugging services are not stopped, cause SF is still running and it's kind of responsible to keep them alive)

Usually , the behavior is more or less the one  that you describe, except that - when you stop debugging services are still running, and when you change something and run the solution again services get redeployed(perhaps just those that contains changes)

[2019-02-27 18:31] #302 closed

[2019-02-28 11:37] csundlof opened #303 "XML comments moving on build"
Custom XML comments move when you build your service fabric application.

Environment: Service Fabric SDK 3.1.2.176.9494, Visual Studio 15.9.7 Enterprise

Steps to reproduce:
Create new service fabric stateless asp.net core web api project

Modify ApplicationManifest.xml and put comments "Test comment 1" and "Test Comment 2" as in code below.

Building the project makes the comments switch places.

[2019-02-28 23:24] kentcb opened #304 "Support a more intelligent packaging format"
Service Fabric uses the zip format to package up an application, with the code/configuration/data assets for each service isolated within their own folders. Being a microservices framework, it is reasonable to expect Service Fabric to scale to support many services. That includes the packaging mechanism. However, this is not the case.

Although each service is independent of the other, it is inevi

[2019-03-01 04:51] kavitha79356 opened #623 "Unable to setup service fabric cluster in Ubuntu container"
Hi,
While installing Service Fabric Runtime in my Ubuntu 16.0.4 Xenial container, getting the below error. Please help.

root@0d2d4ccf635e:~# sudo curl -s https://raw.githubusercontent.com/Azure/service-fabric-scripts-and-templates/master/scripts/SetupServiceFabric/SetupServiceFabric.sh | sudo bash
Executing: /tmp/tmp.GmtdOgTZoc/gpg.1.sh --keyserver
apt-mo.trafficmanager.net
--recv-keys
417A0893
g

[2019-03-01 22:33] dandereggK opened #305 "Opening Fabric Transport Internals"
I am wanting to build a direct messaging framework on top of FabricTransport however the necessary access to do so are marked internal.

The current communications libraries (Remoting, WCF) have friend access to the namespaces in Microsoft.ServiceFabric.FabricTransport.Internal.

Should some of this code be opened up? Or can my opensource project by listed as a friend?

[2019-03-03 12:50] KaiWalter commented on #300
@masnider can you please (have someone) close the issue

We had both certificates (cluster + admin client) stored in `Root` store - which was required for us to be able to connect to the cluster for admin clients and PowerShell. This constellation was working so far. Now `EventStore BindCertificate` seems to expect the cluster certificate in the `My` store.

To solve this, we adjusted our template

[2019-03-03 17:01] #300 closed

[2019-03-05 10:31] MattDarg commented on #80
Hi, I am also getting this issue.

The first request to the HTTP resolve service api keeps returning a stale endpoint.  When the client retries with the PreviousRspVersion I then get the correct endpoint, but the next time I query (the same node) without a PreviousRspVersion I get the stale endpoint again.  In the particular example I'm seeing at the moment, the replica has been up for 3 weeks and

[2019-03-06 15:15] vitalsap commented on #142
This can be solved by checking these nodes in project files.

<TargetFrameworkVersion>v4.7.1</TargetFrameworkVersion>
<LangVersion>7.3</LangVersion>
<TargetFramework>netstandard2.0</TargetFramework>

These properties should be compatible to use C# 7.1 features.

**@JamiePed** **check your erroring project has the lang version specified.** And <LangVersion> should be in the first/main <PropertyGrou

[2019-03-07 13:29] OnamChilwan opened #306 "Service Fabric how to enable EnableDefaultServicesUpgrade"
How do I enable this setting locally? I am running a 5 node cluster and want to verify the upgrade and rollback behaviour locally buts it proving to be extremely troublesome as I keep getting the following:

[code]
I don't where this setting should be added. Searching around shows me how to do this on Azure but not locally and apparently there is a `ClusterConfig.json` file which I need to modify

[2019-03-08 20:22] StenPetrov opened #307 "Unnecessarily sealed classes impact testability"
I have some client's code that takes `ApplicationParameterList`, which inherits `KeyedCollection<string, ApplicationParameter>`.

I can't create a new ApplicationParameterList instance and add keys to it - no such method.
I can't sub-class it because for no good reason it is `sealed`

Please remove `sealed` from all places where it is not explicitly needed and there's no good way to go around it.

[2019-03-09 13:00] mrtylerzhou opened #308 "Is this project still under active development?"

[2019-03-09 17:20] Mortana89 commented on #304
Completely agree on above.
We have roughly 11 services now, and are already on 600mb+ for a deployment package. Which is crazy!

[2019-03-11 12:50] rdunne76 commented on #285
Same issue here - actually migrated from thumbprint to Common Name as  per best practice and experience the same problem re thumbprint and cert based authentication.
Can we get an indication on when this will be resolved as it is impacting  on our ability to monitor environments

[2019-03-11 17:44] dragav commented on #285
A fix has been checked in, and is making its way to the upcoming releases. I don't have an ETA for when this will roll out. For the time being, please pin the issuer thumbprints to work around this issue.

I'd like to reiterate that declaring issuer thumbprints is definitely safer than simply relying on a trusted root. All expected issuers of a given PKI should be declared (the field takes a list

[2019-03-11 18:32] oanapl commented on #304
Thank you for the feedback. We will prioritize this ask against existing work items.

[2019-03-13 12:01] xela30 commented on #260
@ibabou JTR

[2019-03-13 18:37] oanapl commented on #80
Every client has its own cache; for perf reasons, every client resolves from its cache if no previous RSP is passed. So for each client you need to resolve with previous RSP to get the newer data.

[2019-03-13 18:42] ibabou commented on #260
@xela30, sorry for missing the last message. can you please share the error you've been seeing after updating the percentage and trying out the change ? why did the upgrade failed in this case ? you can see in SFX -> Cluster -> Details -> Upgrade section what is blocking the upgrade while it is happening and what is the last upgrade failure reason.

[2019-03-14 18:04] cdonovan63 opened #309 "EventStoreService failing to install on Standalone cluster"
Attempted to do both a clean install and an upgrade install of the EventStoreService on a Standalone service fabric cluster.  We are using "Windows" credential types fro both "ClusterCredentialType" and "ServerCredentialType".  Our cluster is using a "ClustergMSAIdenity.

When the cluster starts up the EventStore Service has the following error:

Error = System.Reflection.TargetInvocationException

[2019-03-14 21:34] b47on commented on #260
I can only confirm, that I found no way to remove the event store, just reinstalled the cluster (luckily I tested it on a dev cluster)

[2019-03-15 10:25] xela30 commented on #260
Hi @ibabou ! Thank you for looking into this again. Here is the screenshot:
![image](https://user-images.githubusercontent.com/3661403/54425197-696ebf00-471d-11e9-8eff-f5a30d78a805.png)

[2019-03-15 11:25] xela30 commented on #260
Hi @ibabou . Thank you for looking into this again. Here is the screenshot:
![image](https://user-images.githubusercontent.com/3661403/54428313-c8383680-4725-11e9-9fda-87ee4070248a.png)

[2019-03-15 17:16] newsunwu opened #310 "Listener name is not resolved to equal name with empty input"
Repro steps: Create SF app with Actor service and client to call Actor service API
By default, on Actor service side, if null is passed into ServiceReplicaListener as name, Actor service side will use Empty as default value. On client side, ActorProxy will create a proxy with "V2_1Listener" as listener name if null value is passed in. This makes debugging extremely difficult. Even more strange is

[2019-03-15 19:04] ibabou commented on #260
@xela30 I doubled checked with failover team. and it appears that there is no way an upgrade will go through if it is monitored. healthcheck will always fail because one of the system services is in error with no quorum. so you'll need to use unmonitoredauto while doing this upgrade.

[2019-03-15 23:23] GitTorre commented on #308
Yes.

[2019-03-15 23:43] GitTorre commented on #304
Take a look at the code (for Linux).  Perhaps you can help with suggesting a viable design approach to this real problem with a pull request?  ;-)

As you can see, the current solution is not complicated (by design). The cost of implementation simplicity is certainly file obesity, as you point out.

Here are some links to the related files:

https://github.com/Microsoft/service-fabric/blob/master/

[2019-03-16 00:41] #308 closed

[2019-03-18 11:29] xela30 commented on #260
@ibabou Got it, thanks!
Does anybody from the team know if running such kind of configuration upgrade (I mean with EventStore service removed from it) will actually remove the service and don't put the cluster into unpredictable state?

[2019-03-19 12:08] garrmark commented on #308
Not my idea of active "Latest commit 93b7d25  on Oct 30, 2018"

[2019-03-20 16:11] trigifu opened #612 "Install the Microsoft Azure Service Fabric SDK fails"
Installing this
https://www.microsoft.com/web/handlers/webpi.ashx?command=getinstallerredirect&appid=MicrosoftAzure-ServiceFabric-CoreSDK
Fails with popup about
Microsoft Azure Service Fabric Runtime - 6.4.644
This product did not install successfully.

Here is the log from View Log here
DownloadManager Information: 0 : Loading product xml from: https://aka.ms/webpifeed51
DownloadManager Informati

[2019-03-21 18:19] b3nt0 opened #311 "Updates?"
I was just wondering if there was a time frame for getting Service Fabric for Windows open sourced? If I've missed something obvious, apologies.

[2019-03-21 22:49] dkkapur commented on #149
No updates yet, we still have some outstanding work on this front that is on the team's backlog, but not something we're prioritizing at the moment with work for Service Fabric Mesh and similar taking the precedence. We will get to it in the near future and keep you posted. If you have any context you can share on the scope of your deployment with me (deep.kapur@microsoft.com) that would be most h

[2019-03-21 23:48] dkkapur commented on #203
@tastyeggs @anlem12 were you able to give the BOSH provider a shot? If not - please reopen the issue and give me a little more context on the scenario and scope of your respective deployments. Would love to learn more about the use case for this and see if there's anything I can suggest as options that exist today.

[2019-03-21 23:48] #203 closed

[2019-03-22 00:19] maburlik commented on #299
I've ported the fix for this to our develop branch so you should see this in the next major/minor release post-6.4.

The reason this is taking long is due to extra file copies being done for each node in the cluster.

[2019-03-22 00:19] #299 closed

[2019-03-25 03:12] chenzuo commented on #311
They should forget this thing. So still have to wait!

[2019-03-26 15:02] mtraudt commented on #91
This question was asked in the most recent Service Fabric Community Q&A and it seems that Ubuntu 18.04 support is not on the short term development roadmap. They made no commitment on the call as to when this might be available.

[2019-03-27 10:03] santo2 opened #312 "Backup Policy Retention duration not respected"
Hi,

we have set a backup policy for our service state, but it seems to go over the retention duration.
we have set the retention duration to 15 Days
should this not delete the older backups from storage?
[code]

This is according to the documentation, there is no mention except for it not to pass 24 days.

[2019-03-28 12:38] darran1971 opened #313 "Backup/Restore service not coming up with Standalone cluster with GMSA security."
Hi #raunakpandya , #aagup

I still have a problem with the FabricBRSSetup.exe file in the latest release (6.4.644.9590) when activating the backup/restore service.

When activating on a node, this file crashes on the servers, with a null exception error in main. However, if I swap the faulting file on the node with an older version (e.g from 6.3.187.9494) it will start up the service and activate

[2019-03-31 11:18] VaclavK commented on #202
@suchiagicha FYI - trying re repro your sample gives albeit with stateless service instead of actor gives

System.IO.FileNotFoundException: 'Could not load file or assembly 'System.Security.Permissions, Version=0.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file specified.'

this happens at newtonsoft serialize response level -    at Newtonsoft.Json.Serializ

[2019-04-02 06:17] buzzers opened #314 "How does SF communicate with a standalone services process written by a developer?"
When I read SF's documentation, I found that it was mentioned that every app written by a developer was independent of the SF's own process. That is, SF processes and application processes need to rely on IPC to communicate.
I want to know the IPC way SF uses on Windows and Linux. Or is SF not managing the app in a way that I understand?

[2019-04-02 18:27] kensaccord commented on #142
I ran into this issue when targeting a *.proj.  The issue was on VSTS Platform type.  It use to build with the type set to "any cpu", and now if you are targeting a *.proj file you must specify "AnyCPU" (no whitespaces)

[2019-04-03 10:42] balukantu opened #315 "Implement cache support in service fabric"
I am working on a project in which I will be calling Service Fabric methods and returning the data to end user. The Data is modified very infrequently or is almost constant so I want to maintain a cache and return it if the data is not modified.

The project structure is: WepApi(Stateless Service) -> Repository -> SatefulService

What is the best way of implementing this in Azure Service Fabric? I

[2019-04-03 21:44] vany0114 commented on #130
Yeah, effectively it was a port conflict, I had a container which runs a web api thru a static port, let's say 5080, so I can't create several containers in the same node running over the same port, so I think I would need a reverse proxy to do that. So, you guys have some example showing how to use the SF reverse proxy to achieve that?

[2019-04-05 14:35] hariramp opened #603 "Unable to Create Multi Cluster with X509 Cert"
Able to create cluster without X509 cert, when I try to add Cert alone I was not able to proceed

Exceptions seeing in Log

Exception occured while creating an object of type FabricDCA.FileShareEtwCsvUploader
System.IO.IOException: Unable to create destination directory \\172.xx.xx.xx\NewDiagStore\fabriclogs-5c39b795-1e18-44fc-84b0-9a0c93910a94\vm2. ---> System.IO.FileNotFoundException: The networ

[2019-04-05 19:50] vany0114 opened #316 "Diff upgrade for Docker Containers"
Hi guys,

Is there a way to perform a diff upgrade using Docker containers?

I'm not even sure if that is possible...how to compare the content of the images? One of the things I come up with is avoiding to build a new version of the image if the code doesn't change at all, so like that the image version will be the same in the manifest file and I might aware that there are no changes thru the ima

[2019-04-06 08:09] redNixon commented on #83
Like every interaction with service fabric I've had so far, trying to change a single parameter has devolved into writing another massive script from scratch using poor/incorrect documentation. It appears that Microsoft disagrees since the ticket was closed, but the inability to perform simple tasks like this or to work around the platform's design flaws(ie give up and use static config files) sho

[2019-04-08 12:48] abarger-bss opened #318 "HealthInformation - Ambiguity in TimeToLive allowed values"
From HealthInformation.TimeToLive's remarks (emphasis mine):

Based on this, I expect the property to accept a value of `System.Threading.Timeout.InfiniteTimeSpan`, which evaluates to a `TimeSpan` of -1 milliseconds. Instead, the property throws an `ArgumentException` claiming the `TimeSpan` must be greater than 0.

[2019-04-09 20:25] mccw commented on #313
We are trying to secure our on prem clusters with gMSA and have run into this very same issue.

[2019-04-10 07:03] AndersMalmgren opened #319 "Inject configuration into ASP Core correctly"
We host a ASP Core web api inside a service fabric instance. I want to forward all configs to the Core app. I use this method

https://dzimchuk.net/configuring-asp-net-core-applications-in-service-fabric/

And then I invoke it using `ConfigureAppConfiguration`

[code]

The inected configration in startup class do have the configs applied, like connection string and logging

![image](https://user-i

[2019-04-10 07:58] AndersMalmgren commented on #319
I also tried

[code]

And got a slightly different IConfiguration object. Though no difference, also notice that Warnign is enabled and info is not (this is default settings).

![image](https://user-images.githubusercontent.com/817577/55861658-1ac71000-5b77-11e9-960f-c03a8b45e256.png)

[2019-04-10 15:01] andreujuanc commented on #284
I'm also interested in using Reliable Collections without SF. Which was, in fact the original question, and it was not answered properly.

Have you guys @mikoskinen  @NArnott  found anything?

@MikkelHegn Can you refer us to the appropriate nuget? I dont mind if it's a "my get" or if it's in preview.

Thanks

[2019-04-10 15:56] NArnott commented on #284
@andreujuanc They did answer it. Assuming the default SDK location, the nuget packages are installed here: C:\Program Files\Microsoft SDKs\Service Fabric\packages

I don't know why they aren't getting included on Nuget.org or some other online repo, but for now, that's where they can be found.

[2019-04-11 07:24] AndersMalmgren commented on #319
I created a repro here

https://github.com/AndersMalmgren/ServiceFabricLoggingRepro

Please advice

[2019-04-11 14:34] andreujuanc commented on #284
Cool, it works. Thanks.
Hope this gets GA soon.
Maybe at build 2019? "Wink wink".

[2019-04-12 17:42] GitTorre commented on #318
Thanks for the note.

Is there a reason you'd not prefer to use TimeSpan.MaxValue in this scenario? It's certainly reasonable that Timeout.InfiniteTimeSpan should not fail, conceptually. The Health team can probably offer more info and/or create a work item for this.

In general, we recommend that you simply supply a TimeSpan.MaxValue when you want to generate a HealthReport with infinite TTL.

[2019-04-12 19:55] GitTorre commented on #315
Hi,

If the data is relatively static, then there is not really a concern for perf hits in your Approach #2 question. Using a machine-local reliable store (like a reliable dictionary) will be as performant as you can get given there is no network traversal involved for reads and writes... Plus, the data will be persisted and synchronized across nodes automatically (thus the notion of reliable). Th

[2019-04-12 20:27] amanbha commented on #319
The article which you referred to allows adding settings from ServiceFabric service config package to aspnet core, from the repro which you share it doesn't seem to be doing that, If you want the configs from service config package, please see https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-aspnetcore#service-fabric-configuration-provider

[2019-04-12 21:04] abarger-bss commented on #318
I have no preference - I changed my code to use TimeSpan.MaxValue when I realized what was happening. I was just surprised that Timeout.InfiniteTimeSpan failed since the docs specifically used the 'infinite' verbiage.

[2019-04-12 21:23] GitTorre commented on #318
A very reasonable point. We should change the docs, as well, to limit confusion.

[2019-04-12 21:43] AndersMalmgren commented on #319
My repro just concentrate on the problem, the config is ignored by asp core

[2019-04-12 22:14] amanbha commented on #319
Could you try the nuget in the doc link which I shared.

[2019-04-13 00:41] #43 closed

[2019-04-13 03:29] GitTorre commented on #314
I'm afraid I don't understand the question.

We communicate via configuration, events (health reports, etc...). You tell us what you need us to know to run your service(s) as you intend them to run. We'll take care of the distributed system deails, as you expe

[2019-04-13 03:29] #314 closed

[2019-04-13 09:33] AndersMalmgren commented on #319
Sure, will do.

[2019-04-15 07:18] AndersMalmgren commented on #319
@amanbha I updated the repro with the nuget package, no difference

[code]

[2019-04-16 22:01] joshmouch opened #320 "Can't connect to database on Hyper-V VM"
Hi, I have an ASP.Net Core application that works as expected if run from Visual Studio normally.
However, if I add this project as an Service Fabric Service then run that Service Fabric Application, the project fails during startup when trying to connect to a database.
This database is hosted on a Hyper-V on the same local machine and I'm using the DNS provided by Hyper-V as the database DNS. (e.

[2019-04-17 15:25] MonDeveloper opened #600 "Guest Services stuck on close due to "Terminate batch job (Y/N)" prompt"
Similar to the microsoft/service-fabric-issues#1398 but wider

While ServiceFabric tries to close a Guest Service (during Upgrade, CodePackage Restart, Service Relocation, etc...) the Service Fabric operation get stuck.

After enabling the `ConsoleRedirection` in the `ServiceManifest.xml` is pretty clear the problem is the "**Terminate batch job (Y/N)**" command prompt confirmation message.
At the

[2019-04-18 17:07] amanbha commented on #319
@AndersMalmgren For my understanding, In your repro, could you please clarify what is not getting injected and where? Whats expected and whats actually happening? I am not able to co-relate that repro with the sanapshots you pasted?

[2019-04-18 23:27] AndersMalmgren commented on #319
In the controller I inject both the IConfiguration and a ILogger, you can verify that the injected config has the proper config for logging information to the debug logger, but logging is disabled for all loglevels. Run the repro and test the controller

[2019-04-19 08:54] balukantu opened #321 "How to handle Data Migration issues"
Hi Team,

We are planning to seed our data in our Stateful Services in Runasyc method. we are able to migrate our data to our service fabric collections but it is not happening in a few scenarios and mentioned below.

We observed some issues when there is a switch in service role or service start or update, which is aborting our migration and we are unable to track why it is stopped.

We tried to

[2019-04-19 12:07] PrabhujiMudragalla opened #322 "Backup and Restore from one cluster to other"
Hi Team,

We implemented the Backup and Restore mechanism for our Stateful services which stored backup in VM and also Azure Blob storage.
Can we use the Azure Blob storage file to restore it to any other cluster?
Such that I can create multiple environments based on demand.

[2019-04-23 13:35] AndersMalmgren commented on #319
Please advice. We need to push this to our test environment soon

[2019-04-23 16:52] amanbha commented on #319
@AndersMalmgren I am sorry, I still don't understand the issue here. The Microsoft.ServiceFabric.AspNetCore.Configuration package and the original article link you share, allows the config values from Service Fabric Service code package to be read using IConfiguration interface so that you can read these values in your service code, it also ties update notifications with Config pkg.
I think there

[2019-04-23 17:20] AndersMalmgren commented on #319
In ASP Core you set logging from config. Its not working. The logging framework does not pickup the setings.

[2019-04-23 17:23] AndersMalmgren commented on #319
I'll update the repro with a asp core project too so you can see how its supposed to work

[2019-04-23 17:28] amanbha commented on #319
@AndersMalmgren Iw ant to clarify that the nuget package and the links which you mentioned earlier allows you to read config values using IConfiguration, they don't configure anything else.

[2019-04-23 17:32] AndersMalmgren commented on #319
Logging in ASP Core is purely a config matter. give me 5, fixing a asp core vanilla project

[2019-04-23 17:43] AndersMalmgren commented on #319
@amanbha Ok, please check the repro vanilla asp core project commited

https://github.com/AndersMalmgren/ServiceFabricLoggingRepro/tree/master/VanillaApi

[2019-04-23 18:05] amanbha commented on #319
@chuanboz Could you please take a look at this?

[2019-04-23 20:45] chuanboz commented on #319
@AndersMalmgren , is the issue you meet only for the logging level not applied, does it work for other custom settings?

[2019-04-23 20:48] AndersMalmgren commented on #319
Hi @chuanboz As you can see in the repro I inject the IConfiguration and can read the config correctly. Thanks

[2019-04-23 20:49] chuanboz commented on #319
And with your custom config provider, and with service fabric does it work as you expect?
Basically I am trying to distinguish whether that's the SF config provider issue, or usage issue of asp.net core configuration.

I'm trying your repro but meet some issue compile the project, trying to upgrade my VS to latest and see if that could load it.

[2019-04-23 20:52] AndersMalmgren commented on #319
Yes, I can inject config correctly into my own code and read the config correctly. Using both methods (They are doing the same thing under the hood).

[2019-04-23 20:59] chuanboz commented on #319
so the configuration provider is doing its job as expected then.

for the logging level to be applied, based on https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore2x&view=aspnetcore-2.2#log-level

you'll need to add below ConfigureLogging code to your Startup, which I do not see in your repro.
[code]

[2019-04-23 21:15] AndersMalmgren commented on #319
Its redundant, check my vanilla project, All needed for logging in Core with custom config provider is

[code]

[2019-04-23 21:30] AndersMalmgren commented on #319
Also we have a similar issue with application insight not being able to pickup the instrument key from config.

[2019-04-23 22:05] chuanboz commented on #319
if you add ConfigureLogging with service fabric project, can you confirm if that will solve your issue or not?

for application insight, can you clarify your expect behavior and also current behavior?
from https://github.com/Microsoft/ApplicationInsights-aspnetcore/blob/develop/src/Microsoft.ApplicationInsights.AspNetCore/Extensions/ApplicationInsightsExtensions.cs it seems AddApplicationInsightsT

[2019-04-23 22:27] AndersMalmgren commented on #319
I dont have service fabric on this computer. Will try tomorrow at office. But keep in mind even if it works it means you have a discrepancy between ASP Core hosted stand alone or in service fabric. Since it works in vanilla just out of the box.

Same with app insight. It works out of the box using `services.AddApplicationInsightsTelemetry()` or `WebHost.CreateDefaultBuilder(args).UseApplicationIns

[2019-04-23 23:16] chuanboz commented on #319
You're not compare apple to apple, in vanilla asp.net core you're using WebHost.CreateDefaultBuilder(args), while for Service Fabric you're using new WebHostBuilder().

If you look into the source code of CreateDefaultBuilder you'll see it actually adds lots of default behavior including the logging one.

[2019-04-24 08:08] AndersMalmgren commented on #319
Alright, that fixes logging. I advice you to update the service fabric project template to use `WebHost.CreateDefaultBuilder()` its easy to miss.

Though application insights is still not working. In vanilla ASP Core both above methods work. And insights can pickup the instrument key from config. In service fabric even when using `WebHost.CreateDefaultBuilder()` I need to supply it with the config

[2019-04-24 17:42] chuanboz commented on #319
Glad that fixed the logging issue, for project template to use WebHost.CreateDefaultBuilder() can you create a separate issue for tracking?

[2019-04-24 17:50] chuanboz commented on #319
for the app insight behavior, that's the design behavior of app insight which hard code to use appsettings.json.

see https://github.com/Microsoft/ApplicationInsights-aspnetcore/blob/2e5aa6c9cf787123990cf56a2505d7137f1704e5/src/Microsoft.ApplicationInsights.AspNetCore/Extensions/DefaultApplicationInsightsServiceConfigureOptions.cs

[code]

[2019-04-24 17:52] chuanboz commented on #319
@AndersMalmgren , if you still want the same default behavior work for asp.net core and service fabric the same way, you need to open an issue for App Insight, asking them to change DefaultApplicationInsightsServiceConfigureOptions to use the Configuration from DI container rather than build their own ConfigurationBuilder

[2019-04-24 18:01] mccw commented on #309
EventStoreService is not supported on standalone clusters yet.

[2019-04-24 18:43] Tavo02x opened #323 "Service Fabric Local Error 504 Gateway Timeout"
Hello Team,

We are having an issue after call the service’s fabric gateway which actaully is a time out.
We folled the guide yhat micros offer thrigh the website usign the protocol HTTP accross Client

[2019-04-25 06:47] AndersMalmgren commented on #319
Hi, its really dangerous that hosting in service fabric does not work exactly the same as in vanilla. Since service fabric has such a large footprint when developing most teams I know how including my own. Only use service fabric when deploying to test environments and to production. Locally we use vanilla. If we cant be sure the pipeline works the same it creates a QA problem.

Thanks

[2019-04-25 18:10] chuanboz commented on #319
@AndersMalmgren , I understand the concern you raised for a parity between vanilla and with Service Fabric, I would agree that would be ideal.

but as I point out the specific difference is not caused by Service Fabric. In case of App Insight, they chose to hard code to use appSettings.json as the default configuration source, so if you want to get the same default behavior then you could continue

[2019-04-25 18:43] AndersMalmgren commented on #319
@chuanboz Thanks for input. I have opened a issue with them. Its not much you can do on service fabric side. thanks

[2019-04-25 18:43] #319 closed

[2019-04-26 06:20] balukantu commented on #315
Hi Charles,

Thanks for the info. You mean to say, store the cache data in a reliable dictionary and get the data?

We can store the data in a reliable dictionary but we may get performance issues and may not be the correct place to store cache data. (Correct me if I am wrong)?

[2019-04-28 14:10] MedAnd opened #595 "Support Azure Files Volume Driver for executable / native process (non-container) scenarios"
Consider adding support, documentation and samples for Azure Files Volume Driver for native (non-container) Service Fabric scenarios.

For example this would allow dynamically mounting an Azure Files volume in Service Fabric so that native processes (guest executables) can read-write to this mount in a cluster safe way. The native process (guest executable) would be a singleton in the cluster and

[2019-04-28 18:49] GitTorre commented on #315
Perhaps I don't fully understand your scenario. Are you talking about CDN-like content caching? What is wrong with Redis or some other caching service? I was assuming you already employ reliable stateful services. If the idea is to cache content that you serve to requests, then the standard approach applies and has little to do with Service Fabric since it would be an external service that manages

[2019-05-05 13:50] chenzuo opened #324 "how about next function?"
Build tools for Windows?
Improve dependency consumption process?
Automated CI environment?
Migrate complete test infrastructure?

What time can these functions listed above be completed?

[2019-05-07 02:39] wasabii opened #325 "Non-standard SRV record format"
SRV records that are made available through Service Fabric are simply set to the ServiceDnsName value. They do not become available with _service._proto prefixes. This prevents their usage in a number of other tools which expect standard SRV service formats.

For most SF services, these records could be trivially exposed. You know if it's HTTP. If so, allow `_http._tcp`. If that's not enough, perh

[2019-05-07 05:30] anantshankar17 commented on #265
With the latest CU release (sdk ver 3.3.658), the prompts will not collide.

[2019-05-07 05:30] #265 closed

[2019-05-07 18:03] JustinKaffenberger opened #327 "Unable to Upgrade Cluster Configuration at All: Start-ServiceFabricClusterConfigurationUpgrade incorrectly identifies an incompatible authentication type change"
I've been learning how to stand up a cluster with X509 authentication, and encountered an issue with the `Start-ServiceFabricClusterConfigurationUpgrade` incorrectly identifying an incompatible authentication type change. The reality is, I am not changing the authentication type, but merely trying to update the `ApplicationPorts.PortRange`. I will go over my reproduction steps here:

1. Create a v

[2019-05-07 19:26] JustinKaffenberger commented on #299
I've also found that making sure any corporate anti-virus is excluding the relevant Service Fabric folders improves speed quite a bit.

[2019-05-09 15:00] mccw commented on #313
This issue still exists in the latest build 6.4.658.9590

[2019-05-09 22:10] masnider commented on #91
Odd. It was under development and should be available soon. https://github.com/microsoft/service-fabric/tree/18.04

[2019-05-10 20:18] tj10harr opened #328 "Certificate Revocation List Warning for new SF Cluster"
Recently deployed a standalone SF Cluster with Azure hosted VMs and receiving the following error:

Unhealthy event: SourceId='System.FabricNode', Property='CertificateRevocationList_FabricGateway', HealthState='Warning', ConsiderWarningAsError=false. Certificate revocation list:CRL offline encountered for certificates: {Cert thumbprint removed} Please ensure the reporting machine has access to 'C

[2019-05-14 16:31] zhol01825 commented on #91
Ubuntu 18.04 support is available under "18.04" branch.

Build command
./runbuild.sh -ubuntu18

Additionally you can pass in the -pe option to the script to enable precompiled header
./runbuild.sh -ubuntu18 -pe

[2019-05-15 14:35] danny156 opened #330 "Memory Leak from FabricClient"
We have a SF stateless service which every 1 minute gets all applications in the cluster (Around ~700), iterate over their services in parallel tasks, and assert their health status.
The health status is logged to some provider.

However, every iteration the memory keeps increasing. After 1 day, it can reach to over 6GB. Inspecting the heap, we see this:
![Memory-Leak](https://user-images.githubus

[2019-05-16 16:18] GitTorre commented on #330
Thanks for reporting this issue.

How many instances of FabricClient are you using in your app health query code? Can you provide more information about your service impl?

[2019-05-17 12:18] fleed opened #331 "Application not starting"
I have a .net core application (**TargetFramework** `net462`, **RuntimeIdentifier** `win10-x64`) that is not starting in the local cluster.
These are the most "useful" event messages:

[code]

[code]

I cannot even hit the first debug breakpoint in the `Program.cs`.
How can I find the solution? Where are the useful logs to diagnose issues at startup (my guess, the issue behind `Error:E_ACCESSDENIE

[2019-05-19 10:13] fleed commented on #331
It turned out that it was an exception thrown at startup. Still, I see two issues:

- don't know how to trace startup exceptions
- unavailable debug (Visual Studio 2019), otherwise I could have found it in 1 minute

[2019-05-20 07:04] danny156 commented on #330
Only one - class member.
This is generally how it looks (removed some code so it be clearer):

            var tasksList = new List<Task>();
            IEnumerbale<Application> applications = await GetClusterApplications();
            foreach (var application in applications)
            {

                cancellationToken.ThrowIfCancellationRequested();
                var servicesList = await

[2019-05-20 21:14] GitTorre commented on #330
Thanks for the snippet.

Is there a reason you want to create a separate task for each call to ValidateServiceAsync?  If you have 700+ applications with n number of services, then you are using a lot of Task objects, which do carry some amount of cost (and, since the recommended practice is to not call Dispose on a Task (even though Task is IDisposable...), you aren't disposing the objects (not su

[2019-05-21 05:57] danny156 commented on #330
Parallel.For or Parallel.ForEach losses their effect when used in async operations.
See: https://stackoverflow.com/questions/15136542/parallel-foreach-with-asynchronous-lambda

I am thinking it is a service fabric issue since the heap shows a lot of 'CancellationToken' objects. which are definitely not created by my service.

And anyway, I tried disposing the tasks -> didn't help.
I would expect a

[2019-05-21 09:06] Habib2025 opened #332 "cannot connect to service fabric cluster"
i installed a stand alone service fabric cluster on my local servers, the installation is passed and the service on all nodes are up and running but i am not able to connect to the service fabric using power shell or service fabric explorer, and i am geting the below errors

![image](https://user-images.githubusercontent.com/50865169/58082895-94174100-7bc0-11e9-9d28-21a3a6471824.png)

and

![image

[2019-05-21 16:57] maburlik commented on #330
Here's a sample of how to have Parallel.ForEach work for async operations:

[code]

intramethod:

[code]

[2019-05-21 19:14] NCarlsonMSFT commented on #303
By default on build VS runs the Service Fabric SDK's AppManifestCleanupUtil.exe against the Application Manifest. This is a tool that can remove stale references to services that have been removed and handle injecting the needed information for Actors. If you application manifest is stable, and/or you are willing to take on maintaining the manifest your self, you can disable this behavior by setti

[2019-05-21 19:49] GitTorre commented on #330
I still don't see the connection to our code. Any chance you could supply a working, small, sample that we could use to investigate? I realize this is probably not a simple undertaking, but without more information it's hard for us to verify your assumption.

[2019-05-21 21:21] GitTorre commented on #330
OK. We have done some more internal analysis based on the information you have provided. It could be related to FabricClient, but we do need to spend more time exploring and ensuring we have the right info to share back with you. Give us some time to get back.

[2019-05-22 04:57] jackbond opened #333 "Install Service Fabric SDK as pipeline task"
I updated to the latest Service Fabric SDK, and updated the NuGet packages, and version numbers in the project files, and everything built great locally. When I checked my changes in, it broke our build pipeline. For the standard "Hosted Windows 2019 with VS2019" it shows the following SF info...

Azure Service Fabric
SDK Version: 3.3.617.9590<br/>
Runtime Version: 6.4.617.9590

So, how does one i

[2019-05-22 05:50] danny156 commented on #330
Sure, let me know if any extra info is needed.
@maburlik - Thanks, will give it a try.

[2019-05-23 21:10] GitTorre commented on #330
@danny156 Can you try Disposing the FabricClient instance? Do you need to keep it around for the lifetime of the class instance? I think it would be interesting to see what happens if you were to Dispose the instance after the health check tasks complete and you move on to some other work. FabricClient can be used on-demand when you run your checks, dispose it when done, create an instance when yo

[2019-05-24 07:23] raunakpandya commented on #322
Yes you can. The Backup Restore service inherently provides API to achieve this. https://docs.microsoft.com/azure/service-fabric/service-fabric-backup-restore-service-trigger-restore#data-restore-in-the-case-of-disaster-recovery

Have you checked this out - https://github.com/microsoft/Service-Fabric-AppDRTool
This tool effectively backs up the application state from one cluster and restores it pe

[2019-05-24 07:25] raunakpandya commented on #321
The RunAsync may be terminated (cancellationtoken set) in case Service Fabric decides to move the replica or do some sort of rebalancing but these should be happening only once in a while. When you mention switch in service role, are you referring to cancellation token being set in RunAsync?

[2019-05-24 07:26] raunakpandya commented on #313
Apologies for missing this.. @aagup  can you please take a look here.

[2019-05-24 07:29] raunakpandya commented on #312
@santo2 Are you saying that you do see backups in the azure blob storage which are older than 15 days?
@khandelwalbrijesh can you please follow up?

[2019-05-24 08:31] khandelwalbrijesh commented on #312
@santo2, Are you still facing the issue?? I could happen that one day older backups are not deleted because they are part of Incremental backup chain which lies in the window of 15 days.

[2019-05-24 10:17] aagup commented on #313
@darran1971 It will be great if you can share a cluster details where it is failing ? It will help me in faster RCA the issue

[2019-05-24 10:48] darran1971 commented on #313
Hi @Aagup, I had to rebuild the cluster without the backup service, so I don't have any more details from the original cluster. There was very little reported in the ServiceFabric logs when I was doing some analysis.

However, from my testing, I found the problem is specifically with the file FabricBRSSetup.exe. This fails with a NULL exception in Main when I'm using GMSA secured cluster. I tested

[2019-05-24 11:51] santo2 commented on #312
@raunakpandya storage kept building up, the policy was not deleting any old backups in the storage.
One of my colleagues picked this up further, I will check this next monday, will keep you guys up to date.

[2019-05-24 23:11] phudtran opened #334 "Building with CentOs: 404 The specified blob does not exist"
Getting a 404 when building with CentOs

https://sfprebuilt.blob.core.windows.net/binaries/WinFab.Linux.Libs.2.4.1-centos.nupkg

<Error>
<Code>BlobNotFound</Code>
<Message>
The specified blob does not exist. RequestId:35e28e2e-601e-0050-5e82-124ac9000000 Time:2019-05-24T22:46:09.6220063Z
</Message>
</Error>

[2019-05-27 10:22] aagup commented on #313
@darran1971  Can you please share your clustermanifest for the cluster. Please mask secure values and mail to aagup@microsoft.com

[2019-05-28 06:42] darran1971 commented on #313
[ClusterConfig.gMSA.Windows.MultiMachineUAT.zip](https://github.com/microsoft/service-fabric/files/3225946/ClusterConfig.gMSA.Windows.MultiMachineUAT.zip)

@aagup, Here is the cluster manifest, used to generate the cluster.

[2019-05-28 08:19] aagup commented on #313
@darran1971  Can you share the clustermanifest which is displayed in Service Fabric Explorer.
Is it possible that we can have joint debug session where we can
![a](https://user-images.githubusercontent.com/31064311/58462408-77928000-814f-11e9-99a5-3033a4343b2a.png)

[2019-05-28 09:57] darran1971 commented on #313
@aagup, I see what you mean. However, I had rebuilt the cluster without the backuprestore service activated, so I don't have the manifest available. I could create another GMSA cluster with the backup service activated for backup/restore if that would help.

[2019-05-28 17:27] jrmcdona opened #335 "FABRIC_E_IMAGEBUILDER_UNEXPECTED_ERROR: The remote server returned an error: (404)"
I have using a ps1 script to deployment my SF setup.  But I am getting this error and not really sure what it means.  Any idea here?

[code]

[2019-05-28 17:28] jrmcdona commented on #335
here are details from my deployment template in regards to PatchOrchestrationApplication.

[code]

[2019-05-29 06:57] raunakpandya commented on #322
Please let me know if you have any further questions and feel free to reactivate accordingly.

[2019-05-29 06:57] #322 closed

[2019-05-29 06:58] raunakpandya commented on #312
Hey @santo2  - Please share updates once you have any.. We would like to see what's the issue here.

[2019-05-29 06:59] raunakpandya commented on #309
Closing the issue.

[2019-05-29 06:59] #309 closed

[2019-05-29 07:01] raunakpandya commented on #275
At this point, there is no easy way to do this. We are working on something which would help take backup and later restore from local cluster state. That should solve this. No ETA yet though.

[2019-05-29 07:02] raunakpandya commented on #255
@fleed - Is this still an issue?

[2019-05-29 07:04] raunakpandya commented on #332
Please ensure that the client certificate you configured while deploying is what you are using to connect. This could most likely be the issue.

[2019-05-29 08:01] santo2 commented on #312
Hi Raunak,

we didn't build in the flush yet, but we also didn't have the issue anymore. I will be building in the flush. You can close this ticket for now, I will open it again if I would get this issue again.

________________________________

met vriendelijke groeten,

Peter Derwa
+32 479 66 12 80

________________________________
Van: Raunak Pandya <notifications@github.com>
Verzonden: woensda

[2019-05-29 09:46] raunakpandya commented on #312
Thanks @santo2 . BTW, what do you mean by building flush here?

[2019-05-29 09:46] #312 closed

[2019-05-29 12:32] mccw commented on #313
Here is a copy of a failing manifest:

https://bitbucket.org/snippets/ScottMcCollough/Ee4pzj

And a copy of the backup/restore error:
![cluster-error](https://user-images.githubusercontent.com/3137337/58557369-d99cc500-81e3-11e9-93bc-23aa9321b676.jpg)

[2019-05-29 12:53] darran1971 commented on #313
Hi @mccw, I think the error your getting there, looks an issue I had previously, which was the GMSA, needing the same admin setting as the local system account.

This thread had a workaround, though it
https://github.com/MicrosoftDocs/azure-docs/issues/19950#issuecomment-446651242

[2019-05-29 13:32] darran1971 commented on #313
@aagup, I have re-created the cluster where this issue occured.

This is the cluster state after initially activating the Backup service
![image](https://user-images.githubusercontent.com/40686134/58560993-1be2f800-821e-11e9-8f84-c7209727abcf.png)

Here is the Manifest as requested.

[code]

[2019-05-29 13:36] mccw commented on #313
That value is set to disabled on all 7 nodes. I restarted all 7 VM's and
deleted and re-created the cluster and am still getting the same Access
Denied error with the backup/restore service.

On Wed, May 29, 2019 at 7:54 AM Darran Williams <notifications@github.com>
wrote:

[2019-05-29 13:49] darran1971 commented on #313
#mccw, thanks for trying that out. might be one for #raunakpandya, #aagup to take up for you. It does look very similar to the issue I had before though. #Raunakpandya had another workaround on that thread, to set the listener up manually with powershell if I recall.

[2019-05-29 13:57] mccw commented on #313
I read through the entire thread and saw that you added the GMSA account to the local administrators group for each node. I hadn't done that. I have added the account, rebuilt the cluster and so far, no error!!
![cluster-no-error](https://user-images.githubusercontent.com/3137337/58562919-d1e31d80-81ef-11e9-8d70-2c12d5aa6615.jpg)

[2019-05-29 14:00] darran1971 commented on #313
Yes that's right, I had just added that to the above reply after checking my notes.

[2019-05-29 15:12] Triplebg opened #584 "Service Fabric Stateful Service in Azure - RAM usage keeps growing. Possible memory leak"
I am running a Service Fabric application on a cluster in Azure. The cluster has two scale sets:

- 4x B2ms nodes where a stateful service type is placed with Placement Constraints (Primary Scale Set)
- 2x F1 nodes where a stateless service type is placed.

There are two types of services in the application

- WebAPI - stateless service used for receiving statuses from a system via HTTP and sendin

[2019-05-29 18:00] fleed commented on #255
In general the local cluster is often giving me problems, but here I cannot provide more information.
I will reopen the bug if I can provide useful information.

[2019-05-29 18:00] #255 closed

[2019-05-30 05:51] lovelangy commented on #83
@redNixon  I cannot agree with you more.  using config package is inconvenient, you need to change so many places( servicemanifest.xml, setting.xml, applicationmanifest.xml) and they can be overriade by application parameters.

All the docs i read say:  Configuration package can be upgraded independently without code package change, without event the instances restarted,   But none of them show ho

[2019-05-30 08:03] aagup commented on #313
@darran1971  thanks for setting up. I will request you to kindly share the tracing from any of the BRS primary nodes where it is failing

[2019-05-30 08:42] darran1971 commented on #313
Hi @aagup, Here's a trace log from one of the nodes, where the FabricBRSetup.exe is failing.

[cb2cc1e19b22057ceaeb69a5532dfe2a_fabric_traces_6.4.658.9590_132036083788455828_1_00636947321131891223_0000000000.dtr.txt](https://github.com/microsoft/service-fabric/files/3236169/cb2cc1e19b22057ceaeb69a5532dfe2a_fabric_traces_6.4.658.9590_132036083788455828_1_00636947321131891223_0000000000.dtr.txt)

[2019-05-30 09:20] ojaimi commented on #327
I also receive the above mentioned error in an intermittent way, sometimes I get it and sometimes I dont, below steps to reproduce it:

Connect to cluster securely using X509 Certificate
`$connectArgs = @{  ConnectionEndpoint = 'XXXXXXXXXXXXXXXXXX:19000';
                   X509Credential = $True;
                   StoreLocation = "CurrentUser";
                   StoreName = "My";

[2019-05-30 10:54] inkey opened #336 "Service Fabric Application Restart"
Hi

I have a service fabric app that reads from KeyVault on startup. When we change the KeyVault value we have to restart the nodes for it to read the new value. This causes the other applications on the same node to go down.

I am trying to write a PowerShell script to restart the service fabric application I have got the following script working on a 1 node cluster however it does not work on mu

[2019-05-30 15:38] aagup commented on #313
@darran1971  I have attached FabricBRSSetup.exe copy with better tracing and point to point diagnostics.
I will request you to kindly replace the BRSSetup in any of the primary node and share traces with us.

[FabricBRSSetup.zip](https://github.com/microsoft/service-fabric/files/3237672/FabricBRSSetup.zip)

Thanks.

[2019-05-30 16:15] AnisTss opened #337 "Service Fabric Placement & Sticky Connections"
I am designing a simple architecture on top of Service Fabric which has a sticky connection constraint between two services.

Let's say, I have a **Producer Stateful Service** and a **Consumer Stateful Service**. At some point the consumer needs to establish a sticky connection (say websocket) to consume data and perform some processing.

**The Question: ** Knowing about service fabric's service p

[2019-05-31 07:55] darran1971 commented on #313
Hi @aagup, thanks for sending the file. I have placed it on one of the nodes.
I noticed the minidump created was a smaller file (60,737KB from 143,175KB)

Here is a trace from that node:

[cb2cc1e19b22057ceaeb69a5532dfe2a_fabric_traces_6.4.658.9590_132036865922628385_20_00636948846374194571_0000000000.dtr.txt](https://github.com/microsoft/service-fabric/files/3240296/cb2cc1e19b22057ceaeb69a5532dfe

[2019-05-31 10:41] aagup commented on #313
@darran1971 not sure why I am unable to see any of the new traces. Can you again share some latest traces of the nodes where we placed the updated FabricBRSSetup.exe as mentioned above
Thanks

[2019-05-31 11:36] darran1971 commented on #313
Hi @Aagup, I have now placed this on all 5 nodes. Heres a trace form another node:

[a8c5c37953a6aeaded243c5e9bc06061_fabric_traces_6.4.658.9590_132036083836491034_44_00636948983671032794_0000000000.dtr.txt](https://github.com/microsoft/service-fabric/files/3241071/a8c5c37953a6aeaded243c5e9bc06061_fabric_traces_6.4.658.9590_132036083836491034_44_00636948983671032794_0000000000.dtr.txt)

The minidu

[2019-06-03 07:32] cosminsandu25 commented on #142
You only need to add the `<LangVersion>7.3</LangVersion>`  tag the projects that fails and everything will work.

[2019-06-03 07:45] tuhland commented on #336
Not a direct answer to your question, but for these tasks we have built "Management API/Service" in our cluster . In your case, this API would call the service in question to read the new configuration from the key vault. Seems to be a better solution than brute forcing a restart. ;)

[2019-06-03 09:38] darran1971 commented on #313
Hi @Aaugup,
I noticed the following error, if I run the FabricBRSSetup.exe file (manually) under an admin account:
[code]

[2019-06-04 13:37] aagup commented on #313
[FabricBRSSetup.zip](https://github.com/microsoft/service-fabric/files/3252637/FabricBRSSetup.zip)
@darran1971  Can you please try with this exe. if it fails, since we have a development env i will request you to disable strong name and share the traces with us

[2019-06-04 15:19] darran1971 commented on #313
Hi @Aagup, here's a trace from a node running this version.

[cb2cc1e19b22057ceaeb69a5532dfe2a_fabric_traces_6.4.658.9590_132036865922628385_142_00636952573299339517_0000000000.dtr.txt](https://github.com/microsoft/service-fabric/files/3253170/cb2cc1e19b22057ceaeb69a5532dfe2a_fabric_traces_6.4.658.9590_132036865922628385_142_00636952573299339517_0000000000.dtr.txt)

[2019-06-04 16:33] chenzuo opened #581 "add node failure use script AddNode.ps1"
2019/06/05-12:26:50.367,Info,10012,Testability.FabricClientRetryHelper,Enter ExecuteFabricActionWithRetryAsync() with function
2019/06/05-12:26:50.367,Verbose,7104,SystemFabric.ClusterManager.GetFabricUpgradeProgress,AsyncCalloutAdapter-63835064: begin
2019/06/05-12:26:50.367,Verbose,7104,SystemFabric.ClusterManager.GetFabricUpgradeProgress,SharedNativeObject<IFabricAsyncOperationContext>-11454272

[2019-06-06 08:05] brechtvhb opened #338 "Using a certificate common name in Linux does not work"
I am trying to deploy a cluster by using a certificate common name. But the cluster remains in deploying state forever. I am using this piece of code in the ARM template. This works fine on a windows cluster

                    "certificate": {
                      "commonNames": [
                        "[parameters('certificateCommonName')]"
                      ],

Using a thumbprint does w

[2019-06-06 13:14] aagup commented on #313
@darran1971 I added some more tracing. Apologies to request you to run again.
[FabricBRSSetup.zip](https://github.com/microsoft/service-fabric/files/3261703/FabricBRSSetup.zip)
PLease share the traces and error reported in FabricBRSSetup.exe

[2019-06-06 14:47] darran1971 commented on #313
Hi @aagup, Here are some more traces from the above fabricBRSSetup.exe.

[a8c5c37953a6aeaded243c5e9bc06061_fabric_traces_6.4.664.9590_132043041479745041_1_00636954284874494941_0000000000.dtr.txt](https://github.com/microsoft/service-fabric/files/3262127/a8c5c37953a6aeaded243c5e9bc06061_fabric_traces_6.4.664.9590_132043041479745041_1_00636954284874494941_0000000000.dtr.txt)
[cb2cc1e19b22057ceaeb69a

[2019-06-06 16:38] aagup commented on #313
Hey @darran1971  Can you please this piece of code in any of the gsma machine and share the output over the mail. Please feel free to mask the outputs. If needed please mail at aagup@microsoft.com

using System;
using System.Security.Principal;

namespace ConsoleApp5
{
    class Program
    {
        static void Main(string[] args)
        {
            try
            {
                string dac

[2019-06-07 07:09] darran1971 commented on #313
@Hi aagup,

If I run that code for the GMSA account sews-e\srvh1uatgmsa, it throws the following error:
`E:\Debug>GMSATest.exe
GetAllowDaclFromUserName userName: sews-e\srvh1uatgmsa
entryPointRunAsUser is null: False
entryPointRunAsUser : sews-e\srvh1uatgmsa
System.Security.Principal.IdentityNotMappedException: Some or all identity references could not be translated.
   at System.Security.Principa

[2019-06-07 08:17] aagup commented on #313
Can you try changing the gmsa account name in your cluster manifest from "sews-e\srvh1uatgmsa" to "sews-e\srvh1uatgmsa$" .. (append $ in the end). I would hope it would start working there after. Given this is a GMSA account, it should have a $ in the end. Let me know if it works thereafter. You can first try using the same code I shared above before making changes directly to the cluster manifest

[2019-06-07 10:26] darran1971 commented on #313
Hi @aagup,
Thanks for the support, that has worked. I was unaware we needed a $ appended in the manifest, as it has worked for everything else.
![image](https://user-images.githubusercontent.com/40686134/59097962-dbb70000-8916-11e9-84ec-ef86b9d4eff3.png)

[2019-06-07 10:33] raunakpandya commented on #313
Glad to hear it worked. We will fix the code to handle even if its not specified like in other cases. Thanks for all the patience you have showed in helping trouble shoot this one. Please try out the service and keep the feedbacks coming :)

[2019-06-07 10:33] #313 closed

[2019-06-10 11:59] aagup commented on #168
@darran1971  Are you still facing this issue ?
Thanks

[2019-06-10 13:15] darran1971 commented on #168
Hi @aagup, I haven't seen this error for a while, so I guess it can be closed.

[2019-06-10 18:15] aagup commented on #168
@darran1971 Thanks for the update.

[2019-06-10 18:15] #168 closed

[2019-06-12 17:17] johncrim opened #339 "Support for ECDSA cluster certificates"
Based on some testing (on Ubuntu 16.04 in Azure ServiceFabric), it appears that Service Fabric doesn't support using ECDSA cluster certificates - it seems to support RSA cluster certificates only. As teams are moving to more ECC certs this would be nice to handle, or at least to provide clear documentation or error messages if the wrong kind of certs are used.

.NET Core supports ECDSA certs, as d

[2019-06-12 17:45] juho-hanhimaki commented on #339
On Windows cluster I have had no problems with ECC certs. Don't have experience on Linux clusters though.

[2019-06-13 15:23] anantshankar17 commented on #96
This is fixed in the latest 6.5 release (sdk version 3.4.XX).

[2019-06-13 15:23] #96 closed

[2019-06-14 08:04] Mahons commented on #152
Hi @samedder @licjapodaca, just wondering if any update on how to do this using the cluster configuration as we're following the same approach (Standalone) with locking down the default ports to remote addresses?

[2019-06-14 12:56] tastyeggs commented on #284
What's the plan on taking this forward? Would appreciate if you guys can share what's on your roadmap.

[2019-06-14 19:53] johncrim commented on #339
That's great @juho-hanhimaki - thanks for the info. Since much of the code is the same on Linux and Windows, it should be close to working.

Based on your comment I'll try to provide more evidence that it either works or doesn't work on SF Linux, and where the issue is.

[2019-06-15 07:06] juho-hanhimaki commented on #339
Just to clarify this is the type of certificate in use on my windows cluster:
![image](https://user-images.githubusercontent.com/12390182/59548220-974de480-8f54-11e9-81a9-2d779c706ed2.png)

Don't know if the signature algorithm makes a difference (I assume not) but as I understand SHA256withRSA is commonly used even for certificates with ECC key.

[2019-06-15 14:12] MedAnd commented on #91
Any update on when Service Fabric for Ubuntu 18.04 will be released? Have some wsl2 R&D pending 😎

[2019-06-15 14:42] solidcloudio opened #340 "Docker Network stack issue in v6.5"
The recent Service Fabric software update to v6.5.435.1 seems to have broken our DNS inside the docker containers..  All of our Java services running in docker can't resolve the DNS for SQL, Cosmos or Service Bus.

seeing errors like:
com.microsoft.sqlserver.jdbc.SQLServerException: The TCP/IP connection to the host xxxx-server.database.windows.net, port 1433 has failed. Error: "xxxx-server.databa

[2019-06-17 17:03] teapejon opened #341 "Standalone container node"
I am not able to successful create a node with a single/ "standalone container" from a docker image. When I run service fabric locally with only the RavenDB image it works and runs great but one I add other services or applications the RavenDB container begins to fail.

Can I run a VM in the set with just RavenDB?

[2019-06-17 18:23] jackbond commented on #333
Common guys, this is bullshit. It's completely unacceptable that the SF team doesn't have a person whose job it is to monitor issues raised here.

There is a "Service Fabric Application Deployment" task officially support in DevOps pipelines, which is COMPLETELY EFFING USELESS, if you can't use the latest SDK. Glaring gaps like this make Microsoft look amateurish.

[2019-06-17 18:26] jackbond opened #342 "Hire a Service Fabric product manager who gives a shit"
There are numerous issues raised here which haven't even been given a courtesy response.

That's bullshit. It's time for someone to get off their ass, or hire someone who will. This is SERVICE FABRIC, a core Azure technology, not some one off side product that nobody gives a shit about.

[2019-06-17 19:10] juho-hanhimaki commented on #333
Yep the experience is not great. Somewhere in the internet there is a document that states the versions of software that is installed on the devops image. The devops UI should offer clarity for versioning so one doesn't have to hunt for the documentation after having encountered errors.

Don't know anything about installing the latest SDK manually. Would be great if there was option to do that. Ma

[2019-06-17 19:16] jackbond commented on #333
My powershell script actually fails on the uninstall. Bottom line, there's a .Netcore sdk installer task, a NuGet installer task, why isn't there a Service Fabric SDK installer task? If not that, have a clear set of instructions for upgrading SF via powershell. Finally, it's slightly out of their hands, but why is the build server's SDK stuck at 3.3.617.9590?

[2019-06-17 22:13] solidcloudio commented on #342
Hear hear...  Agreed!  Not sure which is worse!?! a priority A support ticket, or a github issue...  Crickets either way pretty much..

[2019-06-17 22:14] jackbond opened #343 "Service Fabric fucking blows"
An experiment to see whether ANYONE on the SF team actually receives GitHub notifications.

[2019-06-17 23:03] #343 closed

[2019-06-17 23:03] masnider commented on #343
@jackbond Please try to be more constructive. Of course we do.

[2019-06-17 23:06] jackbond commented on #343
Oh, so you monitor them, but completely ignore them. Much better.

Is it acceptable that two core Microsoft offerings DevOps and Service Fabric are currently out of sync?

[2019-06-17 23:06] masnider commented on #342
Please provide links. The SF team does triage these issues, however most of the time is spent over on the old [issues list](https://github.com/Azure/service-fabric-issues/), and we're trying to crosstrain folks to look in both places :)

[2019-06-17 23:06] #342 closed

[2019-06-17 23:07] masnider commented on #342
I'll add that abusive language isn't going to help your case. I'd avoid it.

[2019-06-17 23:14] masnider commented on #333
The VSTS issues are best addressed in the VSTS tasks repo, which is over [here]( https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks). When you tried with the instructions in our docs, did you run into a problem? When you say it "broke your build pipeline" can you be more specific? Do the instructions [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tuto

[2019-06-17 23:17] masnider commented on #343
You are making toxic and unhelpful statements. Please refrain from doing so. Sarcasm and profanity will not help you get your issues resolved.

I have replied in your [main question](https://github.com/microsoft/service-fabric/issues/333). If you would like to engage in constructive discussion, go there. If you want to continue to make mean and unhelpful assumptions and remarks, go ahead, but then

[2019-06-18 00:21] iyyappam commented on #335
Just checking with you to see if the issue still exists. To mitigate, retrying the deployment should take care of it. In order for us to root cause, could you provide the resource id of the cluster (You can get it from the properties link on the left side) and date of this issue (timestamp is in the pasted log).

[2019-06-18 16:20] masnider commented on #333
@jackbond Hey Jack. If you're going to light up the team, we would appreciate a response and more information so that we can help.

[2019-06-18 18:14] jackbond commented on #333
@masnider I'm in the process of reproducing the issue.

[2019-06-18 19:08] jackbond commented on #333
I have at least 10 different service fabric solutions all building and deploying via Azure DevOps. I never had an issue until about a month ago when I updated to the latest SF NuGet packages including Microsoft.VisualStudio.Azure.Fabric.MSBuild (from 1.6.7. to 1.6.8). From the image below you can see that when I updated all the SF packages, the pipeline failed to build (allow the code built locall

[2019-06-19 05:44] solidcloudio commented on #340
It seems the docker stack is configured incorrectly in this case.  The DNS server address on the right container is invalid.  This example shows the container inspections from one cluster node vs another...

![InvalidDNS](https://user-images.githubusercontent.com/11837859/59739681-78807400-921a-11e9-9b7f-f684309a7001.png)

[2019-06-19 05:53] solidcloudio commented on #340
I also see this issue occurring in a SF cluster running v6.4.661.1 - So it doesnt seem isolated to v6.5.
It seems to have regressed...  I also saw this issue in August of last year, after time with support they stated:

This happens due to missing NAT translation rules which get created by CNS plugin when bridge network is created. As the replies seem to be coming from an unexpected source (due to

[2019-06-19 06:49] negberts opened #344 "Missing Microsoft.ServiceFabric.Data.Extensions nuget update"
There is no update for the Microsoft.ServiceFabric.Data.Extensions package in nuget and therefore upgrading to 6.5 is not possible because the package has a constraint Microsoft.ServiceFabric.Data.Interfaces (= 3.3.664)

[2019-06-19 07:12] Richard-Payne opened #345 "Failed to download cab file"
We have an on-prem Service Fabric installation.  We're trying to add a node hosted in AWS.

The AddNode script seems to complete successfully but the node never appears in the SF tree and the following error appears:

[code]

The AWS security group has been set fully open and we're seeing no blocks on our firewall.  I've disabled BitDefender on the node.

how do I debug this?

[2019-06-19 17:19] amanbha commented on #344
@negberts This is a known issue caused by nuget package versioning of Microsoft.ServiceFabric.DAta.Extensions, we will release updated nugets soon.
As a  workaround:
If you are using older style of .csproj and it has packages.config., You can delete the entry for Microsoft.ServiceFabric.Data.Extensions and try updating the nuget packages again.

If its a newer style project and you don't have pack

[2019-06-20 01:10] tastyeggs opened #346 "Expose range queries in Reliable Dictionary's CreateEnumerableAsync with ordering"
Currently if I want to get all values in a reliable dictionary, where keys are ordered, between X and Y, I'll need to enumerate from the start of the dictionary.

Would be nice to have a O(lg n) way to get to some point in the middle of the dictionary, in either ascending or descending order. This is the only missing "primitive" for a db that can reach massive scale.

Going through the repository,

[2019-06-20 04:30] bishal-pdMSFT commented on #333
@jackbond the Azure Pipelines hosted images get updated once a month and hence it can take upto a month for newly publicly released SDK version to show up on Hosted agents. By publicly I mean that the new version should be available on Web platform installer.
If you want to use hosted agents, you can think about reverting to older MSBuild package. Is there a critical fix you want to take from newe

[2019-06-20 13:56] johncrim commented on #339
We're using sha256ECDSA as the signature algorithm - again on Linux, I wasn't able to get an ECC cert signed by an ECC cert to work. I am however able to get an RSA cert to work when signed by an ECC cert:

![image](https://user-images.githubusercontent.com/3312127/59854274-748e4800-9327-11e9-81b2-b37af3be30b5.png)

Note that this only works when the cert is referred to by thumbprint, eg this arm

[2019-06-20 16:31] andrewtyped commented on #327
I am also experiencing this with the same repro steps as @ojaimi . In my case, the only elements changed in  my cluster config were ClusterConfigurationVersion and FabricClusterAutoupgradeEnabled (from true to false). I don't feel comfortable sharing my full clusterConfig, but if there's a section I can provide let me know.

[2019-06-20 19:50] JustinKaffenberger commented on #327
I updated the title to hopefully reflect the severity of this issue. We are completely unable to upgrade the cluster configuration due to this issue.

[2019-06-21 04:10] bishal-pdMSFT commented on #333
@jackbond can you please attach your build logs for us to check if this is really an issue with SDK version. You can generate debug logs by setting a build variable called _system.debug_ with value _true_.

[2019-06-21 07:30] sall84993356 opened #576 "I want to update the service fabric cluster config settings, but when I test the config ,it runs error."
Stand alone cluster ,three nodes vm . I used gmsa to access the sql server by domain account.

I used this commond :
.\TestConfiguration.ps1 -ClusterConfigFilePath .\ClusterConfig.Unsecure.MultiMachinenew.json -OldClusterConfigFilePath .\ClusterConfig.Unsecure.MultiMachine.json

Trace folder already exists. Traces will be written to existing trace folder: D:\Microsoft.Azure.ServiceFabric.WindowsSe

[2019-06-22 11:00] andreujuanc commented on #284
BTW, packages did not work as expected. :( I could not get RC working :(

[2019-06-23 20:49] solidcloudio commented on #340
This is a serious issue.  I can't control the Decker network stack configuration.  It's obviously a bug in service fabric.  Can I get some traction on this?  I'm leaving this cluster in a broken state so that Microsoft can look at it.  Otherwise, Id delete the cluster and the problem would probably go away.  It keeps regressing however, a system exhibiting this behavior may be invaluable in fixing

[2019-06-24 12:54] jfalameda opened #347 "Add instructions about how to debug SF running on docker (onebox)"
Hi,

I am having a hard time finding the way to debug a docker run SF application. It would be great to add instructions and guidelines to do it.

This is specially relevant for Mac and Linux users.

Kind regards,
/ José.

[2019-06-24 18:14] jackbond commented on #333
Is there a non-public email I can send them to?

[2019-06-25 03:33] bishal-pdMSFT commented on #333
You can send them to RM_Customer_Queries @ microsoft.com

[2019-06-25 09:56] Richard-Payne commented on #345
Anyone?

[2019-06-26 13:28] Banzboy opened #348 "Is it possible to change Configuration without an upgrade?"
Currently we have have a SF application running that were we want to be able to change a configuration without upgrading.

Some context for this scenario:
The configuration in question contains the path for an api endpoint, currently we have built v2 version of that endpoint as an entirely separate resource. We want to do a quick switch to that v2 (also switch back of course if things go bad). To

[2019-06-26 18:45] jackbond commented on #333
I have the Powershell script below in a pipeline, and have attached the associated log. It's failing with:

MSI (s) (B8:88) [18:22:49:094]: Product: Microsoft Azure Service Fabric SDK -- Error 1714. The older version of Microsoft Azure Service Fabric SDK cannot be removed.  Contact your technical support group.  System Error 1612.

Any ideas?

[log_5_3661.zip](https://github.com/microsoft/service-

[2019-06-27 03:22] bishal-pdMSFT commented on #333
@athinanthny @masnider I think this question is for you.

[2019-06-27 18:57] peterpogorski opened #349 "Service Fabric Guidance for CVEs 2019-11477, 2019-11478, 2019-11479 (SACK)"
On Monday June 17th security researchers announced 3 critical security issues impacting the Linux kernel. These are:
•	CVE-2019-11477: SACK Panic
•	CVE-2019-11478: SACK Slowness
•	CVE-2019-11479: Excess Resource Consumption Due to Low MSS Values

Canonical has published patches for the CVE-2019-11477, and CVE-2019-11478 issues to the OS security channel. CVE-2019-11479 will be addressed in a set o

[2019-06-28 00:52] lovelangy commented on #348
@Banzboy  i have the same question before. a quick answer is, if you put the api ulr inthe package, you are using SF in wrong way.   Each time you want to change configuration(db password changed/ ssl cert expired ), you need new deployment.

for detail, see this https://github.com/Azure/service-fabric-issues/issues/114
and https://github.com/microsoft/service-fabric/issues/83

[2019-06-28 18:49] vabgujral opened #350 "Spelling correction in readme"
Spelling correction in readme for service fabric's subsystems here - https://github.com/microsoft/service-fabric/blob/master/docs/architecture/README.md

![image](https://user-images.githubusercontent.com/7391966/60364361-8ddc6780-99ab-11e9-9d4b-95ea97ba2a3b.png)

[2019-07-01 03:08] demonguru18 commented on #142
Here try this => int value = default(value);

[code]

[2019-07-01 15:57] jiezh1 opened #352 "Azure Devops cannot deploy to a windows secured standalone service fabric cluster; Access denied error thrown"
Standalone Service Fabric, version# 6.5.639.9590
            "ClusterCredentialType": "Windows",
            "ServerCredentialType": "Windows",
            "WindowsIdentities": {
                "ClustergMSAIdentity": "xxxx",
                "ClusterSPN": "xxxxx",
                "ClientIdentities": [
                    {
                        "Identity": "Domain\\AdminUsers",

[2019-07-01 17:16] jackbond opened #353 "6.4.670.9590 info"
6.4.670.9590 is now listed as a version in the portal. I've looked on the team blog and here, and I cannot find any mention of it. I see here...

https://blogs.msdn.microsoft.com/azureservicefabric/2019/06/11/azure-service-fabric-6-5-release/

that the 6.5 release has been put on hold. Any updates?

[2019-07-01 19:53] masnider commented on #333
@jackbond I would open a separate issue for this so that we don't lose track of your original issue.

[2019-07-03 14:04] jiezh1 commented on #352
Has anyone else run into the similar issue?

[2019-07-04 05:25] abarberenaCPDS opened #356 "Testing a simple stateless service with FabricTransportServiceRemotingListener, throws an exception: Cannot marshal 'parameter #2': Invalid managed/unmanaged type combination (Marshaling to and from COM interface pointers isn't supported)"
Hello SF Team,

I am wondering if your can help and provide some guidance about this exception.

I am following the guide [Set up your development environment on Mac OS X](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-mac). I successfully got it working.

SF cluster **Runtime** version is **6.4.625.1**
SF **SDK** version in projects is **6.4.617** and **3.3.617**

[2019-07-05 16:49] sladeedmonds opened #357 "Service Fabric Explorer AAD integration suddenly fails in Azure Gov"
We've had a cluster running in Azure Gov for quite some time (over a year), and it was deployed with the AAD integration so that users could authenticate to SFX with AAD credentials.  AAD authentication to SFX is now failing, prompting users for a client certificate.  The AAD applications created to handle authentication were created with the AADTool repository (SetupApplications.ps1).  Those apps